RNpicker/etc/ext/IML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.ctbto.org/IDCML/0.2" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://www.ctbto.org/SAMPML" 
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified"
           id="sampml">
           
    <annotation>
      <documentation>
        IDC Format for describing RN Sample information
      </documentation>
    </annotation> 
    
    <xs:element name="Description" type="xs:string">
		<xs:annotation>
			<xs:documentation>Description (i.e comments) related to this sample</xs:documentation>
		</xs:annotation>
	</xs:element>
    
    <xs:element name="SampleInformation"  type="SampleInformationType" />
    
    <xs:complexType name="SampleInformationType">
		<xs:annotation>
			<xs:documentation>All informations related to one sample</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationInformation" type="StationInformationType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Time, location information for the sample</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DetectorInformation" type="DetectorInformationType" minOccurs="0" maxOccurs="1">
			    <xs:annotation>
					<xs:documentation>Information related to the detector used in the station (geometry, ?)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SampleType" type="enumSampleType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>particule or gz</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date to which activities will be decay corrected</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasuredInformation" type="MeasuredInformationType" minOccurs="1" maxOccurs="1">
			    <xs:annotation>
					<xs:documentation>scientifically measured data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnalysisResults" type="AnalysisResultsType" minOccurs="1" maxOccurs="1">
			    <xs:annotation>
					<xs:documentation>Analysis data (identified nuclides)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PeakResults" type="PeakResultsType" minOccurs="1" maxOccurs="1">
			    <xs:annotation>
					<xs:documentation>peaks information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalibrationInformation" type="CalibrationInformationType" minOccurs="1" maxOccurs="1">
			    <xs:annotation>
					<xs:documentation>calibration equations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
		</xs:sequence>
		<xs:attribute name="UUID" type="xs:string">
			<xs:annotation>
				<xs:documentation>Unique identifier for this measurement</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	
	<xs:complexType name="StationInformationType">
	   <xs:sequence>
	      <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
	      <xs:element name="StationCode" type="xs:string" minOccurs="0" maxOccurs="1">
	         <xs:annotation>
					<xs:documentation>It should be part of an enumerate containing all station codes (gazeteer)</xs:documentation>
			 </xs:annotation>
	      </xs:element>
	      <xs:element name="CountryCode" type="xs:string" minOccurs="0" maxOccurs="1">
	         <xs:annotation>
					<xs:documentation>It should be part of an enumerate containing all country codes (gazeteer)</xs:documentation>
			 </xs:annotation>
	      </xs:element>
	      <xs:element name="Coordinates" type="Coordinates" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Geographical coordinates (latitude, longitude, optional elevation)</xs:documentation>
				</xs:annotation>
		  </xs:element>
	      <xs:element name="Status" type="enumStationStatusType" minOccurs="0" maxOccurs="1">
	         <xs:annotation>
					<xs:documentation>Active or NonActive</xs:documentation>
			 </xs:annotation>
	      </xs:element>
	      <xs:element name="StartTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
	      <xs:element name="EndTime"   type="xs:dateTime" minOccurs="0" maxOccurs="1">
	      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
	   </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DetectorInformationType">
	    <xs:annotation>
			<xs:documentation>To Be Defined</xs:documentation>
	    </xs:annotation>
	</xs:complexType>
	
	<xs:complexType name="MeasuredInformationType">
	    <xs:annotation>
			<xs:documentation>Sampled information sent by the station</xs:documentation>
	    </xs:annotation>
	    <xs:sequence>
	      <xs:element name="Spectrum" type="SpectrumType" minOccurs="1" maxOccurs="unbounded"/>
	    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SpectrumType">
	    <xs:annotation>
			<xs:documentation>Sampled information sent by the station</xs:documentation>
	    </xs:annotation>
	    <xs:sequence>
	      <xs:element name="StartTime" type="xs:dateTime" minOccurs="1" maxOccurs="1">
			<xs:annotation>
				<xs:documentation>Measurement start date/time</xs:documentation>
			</xs:annotation>
		  </xs:element>
	      <xs:element name="RealTime"  type="xs:duration" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Duration of each sample measurement/interval at which samples are taken</xs:documentation>
				</xs:annotation>
		  </xs:element>
		  <xs:element name="LiveTime" type="xs:duration" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective duration (i.e., live time) of each sample measurement</xs:documentation>
				</xs:annotation>
		  </xs:element>
	      <xs:element name="SourceType" type="enumSourceType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Source kind: background, Sample, ...</xs:documentation>
				</xs:annotation>
		  </xs:element>
	       <xs:element name="DataType" type="ChannelDataType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>the data, spectrum</xs:documentation>
				</xs:annotation>
		  </xs:element>
	    </xs:sequence>
	    <xs:attribute name="calibrationIDs" type="stringListType">
			<xs:annotation>
				<xs:documentation>Unique identifier for this measurement</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	    <xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	
	<xs:complexType name="AnalysisResults">
	    <xs:annotation>
			<xs:documentation>Categorisation, Activity Summary, ... </xs:documentation>
	    </xs:annotation>
	    <xs:sequence>
	      <xs:element name="SampleCategorization" type="SampleCategorizationType" minOccurs="1" maxOccurs="1">
			<xs:annotation>
				<xs:documentation>Categorisation of the sample</xs:documentation>
			</xs:annotation>
		  </xs:element>
	      <xs:element name="ActivitySummary"  type="ActivitySummaryType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Summary of the sample activity</xs:documentation>
				</xs:annotation>
		  </xs:element>
	    <xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	
	<xs:complexType name="SampleCategorizationType">
	    <xs:annotation>
			<xs:documentation>Categorisation, Activity Summary, ... </xs:documentation>
	    </xs:annotation>
	    <xs:sequence>
	      <xs:element name="SampleUUID" type="xs:string"       minOccurs="1" maxOccurs="1"/>
	      <xs:element name="Category"  type="enumCategoryType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
	    <xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	
	<xs:complexType name="ActivitySummaryType">  <!--  To be Defined -->
	    <xs:annotation>
			<xs:documentation>To Be Defined</xs:documentation>
	    </xs:annotation>
	    <xs:sequence>
	      <!--  Nuclides Identified not quantified -->
          <!--  Nuclides quantified  -->
          <!--  MDC for Key nuclides -->
        </xs:sequence>
	    <xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	
	<xs:complexType name="PeakResultsType">
	    <xs:annotation>
			<xs:documentation>List of Peaks Results</xs:documentation>
	    </xs:annotation>
	    <xs:sequence>
	      <xs:element name="PeakResult" type="PeakResultType" minOccurs="1" maxOccurs="unbounded"/>
	    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PeakResultType">  
	    <xs:annotation>
			<xs:documentation>Peak detail</xs:documentation>
	    </xs:annotation>
	    <xs:sequence>
           <xs:element name="Energy"  type="doubleUnc" minOccurs="1" maxOccurs="1">
              <xs:annotation>
			    <xs:documentation>Pair of Energy and Energy uncertainty (00 uncertainty means not known)</xs:documentation>
	          </xs:annotation>
	       </xs:element>
	       <xs:element name="Centroid"  type="doubleUnc" minOccurs="1" maxOccurs="1">
              <xs:annotation>
			    <xs:documentation>Pair of Centroid and Centroid uncertainty (00 uncertainty means not known)</xs:documentation>
	          </xs:annotation>
	       </xs:element>
	        <xs:element name="Area"  type="doubleUnc" minOccurs="1" maxOccurs="1">
              <xs:annotation>
			    <xs:documentation>Pair of Area and Area uncertainty (00 uncertainty means not known)</xs:documentation>
	          </xs:annotation>
	       </xs:element>
	       <xs:element name="Width"  type="xs:integer" minOccurs="1" maxOccurs="1">
              <xs:annotation>
			    <xs:documentation>Width</xs:documentation>
	          </xs:annotation>
	       </xs:element>
	        <xs:element name="FWHM"  type="doubleUnc" minOccurs="1" maxOccurs="1">
              <xs:annotation>
			    <xs:documentation>Pair of FWHM and FWHM uncertainty (00 uncertainty means not known)</xs:documentation>
	          </xs:annotation>
	       </xs:element>
	       <xs:element name="BackgroundCounts"  type="doubleUnc" minOccurs="1" maxOccurs="1">
              <xs:annotation>
			    <xs:documentation>Pair of BckCounts and BckCounts uncertainty (00 uncertainty means not known)</xs:documentation>
	          </xs:annotation>
	       </xs:element>
	       <xs:element name="Efficiency"  type="doubleUnc" minOccurs="1" maxOccurs="1">
              <xs:annotation>
			    <xs:documentation>Pair of Efficiency and Efficiency uncertainty (00 uncertainty means not known)</xs:documentation>
	          </xs:annotation>
	       </xs:element>
	       <xs:element name="LC"  type="xs:double" minOccurs="1" maxOccurs="1">
              <xs:annotation>
			    <xs:documentation>Critical Level</xs:documentation>
	          </xs:annotation>
	       </xs:element>
	       <!-- To be Defined : EWMA, Nuclide, ... -->
        </xs:sequence>
	    <xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	
	<xs:complexType name="CalibrationInformationType">
	    <xs:annotation>
			<xs:documentation>Calibration Equations</xs:documentation>
	    </xs:annotation>
	    <xs:sequence>
	      <xs:element name="Calibration" type="CalibrationType" minOccurs="1" maxOccurs="unbounded"/>
	    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CalibrationType">
	    <xs:annotation>
			<xs:documentation>Calibration</xs:documentation>
	    </xs:annotation>
	    <xs:sequence>
	      <xs:element name="Calibration" type="CalibrationType" minOccurs="1" maxOccurs="unbounded"/>
	    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CalibrationType">
		<xs:annotation>
			<xs:documentation>Calibration data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Remark" minOccurs="0"/>
			<xs:element name="CalibrationCreationDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date/time of calibration's creation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalibrationMeasurementUUID" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Unique identifier of the measurement(s) used to develop this calibration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Equation" type="Equation" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The equation governing this calibration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrayXY" type="ArrayXY" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Calibration data as ordinal pairs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
		</xs:sequence>
		<xs:attribute name="Type" type="enumCalibrationType" use="required">
			<xs:annotation>
				<xs:documentation>Calibration type (e.g., Energy, FWHM, ...)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EnergyUnits" type="enumEnergyUnits">
			<xs:annotation>
				<xs:documentation>Energy units</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FWHMUnits" type="enumFWHMUnits">
			<xs:annotation>
				<xs:documentation>Detector resolution units</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ID" type="xs:ID"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	
	
	<xs:complexType name="Equation">
		<xs:annotation>
			<xs:documentation>Encapsulates an equation and its coefficients</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Remark" minOccurs="0"/>
			<xs:element name="Coefficients" type="Coefficients" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The coefficients of the equation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CovarianceMatrix" type="doubleList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The covariance matrix for the equation coefficients</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
		</xs:sequence>
		<xs:attribute name="Model" type="enumEquationType" use="required">
			<xs:annotation>
				<xs:documentation>Type of equation (polynomial, etc.)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Form" type="xs:string">
			<xs:annotation>
				<xs:documentation>Description of the form of the equation</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LowerLimit" type="xs:double">
			<xs:annotation>
				<xs:documentation>Lower bound of validity of the abscissa</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="UpperLimit" type="xs:double">
			<xs:annotation>
				<xs:documentation>Upper bound of validity of the abscissa</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="Coefficients">
		<xs:annotation>
			<xs:documentation>Equation coefficients</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="doubleList">
				<xs:attribute name="Subequation" type="xs:positiveInteger">
					<xs:annotation>
						<xs:documentation>Index of the subequation to which this set of coefficients applies</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ArrayXY">
		<xs:annotation>
			<xs:documentation>Array of ordinal pairs</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Remark" minOccurs="0"/>
			<xs:element name="PointXY" type="PointXY" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An (abcsissa, ordinate) pair</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
		</xs:sequence>
		<xs:attribute name="X" type="xs:string">
			<xs:annotation>
				<xs:documentation>Abscissa data description</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Y" type="xs:string">
			<xs:annotation>
				<xs:documentation>Ordinate data description</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="PointXY">
		<xs:annotation>
			<xs:documentation>An (abscissa, ordinate) pair</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Remark" minOccurs="0"/>
			<xs:element name="X" type="doubleUnc">
				<xs:annotation>
					<xs:documentation>Abscissa value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Y" type="doubleUnc">
				<xs:annotation>
					<xs:documentation>Ordinate value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	
	<xs:complexType name="ChannelDataType">
		<xs:annotation>
			<xs:documentation>The spectrum: counts vs. channel for the entire spectrum or a region of interest</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="doubleList">
			    <xs:attribute name="NbCounts" type="xs:positiveInteger" use="optional">
					<xs:annotation>
						<xs:documentation>The algorithm used to compress the channel data</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Compression" type="enumSpectrumCompressionType" use="optional">
					<xs:annotation>
						<xs:documentation>The algorithm used to compress the channel data</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	
	<xs:complexType name="Coordinates">
		<xs:annotation>
			<xs:documentation>Geographical coordinates (latitude, longitude, optional elevation)</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="coordinateList">
				<xs:attribute name="Datum" type="xs:positiveInteger">
					<xs:annotation>
						<xs:documentation>EPSG map datum reference identification number (see www.epsg.org)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Time" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>Date/time of coordinates measurement</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	
	<!-- Internal Simple Types used -->
	
	<xs:simpleType name="doubleUnc">
		<xs:annotation>
			<xs:documentation>Double value with uncertainty: first entry is value, second entry is uncertainty (absolute error, one standard deviation)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="doubleList">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumCategoryType">
		<xs:annotation>
			<xs:documentation>the category classification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumSourceType">
		<xs:annotation>
			<xs:documentation>Measurement type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Sample"/>
			<xs:enumeration value="Background"/>
			<xs:enumeration value="Calibration"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stringListType">
		<xs:annotation>
			<xs:documentation>List of strings</xs:documentation>
		</xs:annotation>
	   <xs:list itemType="xs:string"/>
	</xs:simpleType>
	
	<xs:simpleType name="coordinateList">
		<xs:annotation>
			<xs:documentation>Geographic coordinates: first two entries are latitude and longitude; third entry (optional) is elevation in meters relative to ellipsoid</xs:documentation>
		</xs:annotation>
		<xs:restriction base="decimalList">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumStationStatusType">
		<xs:annotation>
			<xs:documentation>The algorithm (if any) by which the spectrum has been compressed</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Active"/>
			<xs:enumeration value="NonActive"/>
		</xs:restriction>
	</xs:simpleType>
	
		<xs:simpleType name="decimalList">
		<xs:annotation>
			<xs:documentation>List of decimals</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="doubleList">
		<xs:annotation>
			<xs:documentation>List of doubles</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="durationList">
		<xs:annotation>
			<xs:documentation>List of durations</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:duration"/>
	</xs:simpleType>
	<xs:simpleType name="nonNegativeIntegerList">
		<xs:annotation>
			<xs:documentation>List of nonNegativeIntegers</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="enumEnergyUnits">
		<xs:annotation>
			<xs:documentation>Energy units</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="eV"/>
			<xs:enumeration value="keV"/>
			<xs:enumeration value="MeV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="enumActivityUnits">
		<xs:annotation>
			<xs:documentation>Activity units</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="mBq"/>
			<xs:enumeration value="Bq"/>
			<xs:enumeration value="kBq"/>
			<xs:enumeration value="MBq"/>
			<xs:enumeration value="nCi"/>
			<xs:enumeration value="uCi"/>
			<xs:enumeration value="mCi"/>
			<xs:enumeration value="Ci"/>
			<xs:enumeration value="kCi"/>
			<xs:enumeration value="MCi"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="enumFWHMUnits">
		<xs:annotation>
			<xs:documentation>FWHM (Full Width at Half-Maximum) (i.e., resolution) units</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Energy"/>
			<xs:enumeration value="Channels"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumSpeedUnits">
		<xs:annotation>
			<xs:documentation>Speed units</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="kph"/>
			<xs:enumeration value="m/s"/>
			<xs:enumeration value="mph"/>
			<xs:enumeration value="fps"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumSampleType">
		<xs:annotation>
			<xs:documentation>Different kind of samples</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="particule"/>
			<xs:enumeration value="gaz"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumDistanceUnits">
		<xs:annotation>
			<xs:documentation>Distance units</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="mm"/>
			<xs:enumeration value="cm"/>
			<xs:enumeration value="m"/>
			<xs:enumeration value="km"/>
			<xs:enumeration value="in"/>
			<xs:enumeration value="ft"/>
			<xs:enumeration value="mi"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumCalibrationType">
		<xs:annotation>
			<xs:documentation>Calibration type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Energy"/>
			<xs:enumeration value="AbsoluteEfficiency"/>
			<xs:enumeration value="IntrinsicFullEnergyPeakEfficiency"/>
			<xs:enumeration value="IntrinsicTotalEfficiency"/>
			<xs:enumeration value="FWHM"/>
			<xs:enumeration value="CountsToDose"/>
			<xs:enumeration value="CountsToAbsorbedDose"/>
			<xs:enumeration value="CountsToExposure"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
    
 </xs:schema>
