RNpicker/etc/ext/IML.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns="http://www.ctbto.org/SAMPML/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ctbto.org/SAMPML/1.0" id="sampml" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
        IDC Format for describing RN Sample information
      </xs:documentation>
  </xs:annotation>
  <xs:element name="Remark" type="xs:string">
    <xs:annotation>
      <xs:documentation>Description (i.e comments) related to this sample</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SampleInformation" type="SampleInformationType" />
  <xs:complexType name="SampleInformationType">
    <xs:annotation>
      <xs:documentation>All informations related to one sample</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="StationInformation" type="StationInformationType">
        <xs:annotation>
          <xs:documentation>Time, location information for the sample</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DetectorInformation" type="DetectorInformationType">
        <xs:annotation>
          <xs:documentation>Information related to the detector used in the station (geometry, ?)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="SampleType" type="enumSampleType">
        <xs:annotation>
          <xs:documentation>particule or gz</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ReferenceDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>The date to which activities will be decay corrected</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MeasuredInformation" type="MeasuredInformationType">
        <xs:annotation>
          <xs:documentation>scientifically measured data</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="AnalysisResults" type="AnalysisResultsType">
        <xs:annotation>
          <xs:documentation>Analysis data (identified nuclides)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Parameters" type="ParametersType">
        <xs:annotation>
          <xs:documentation>Processing, Updating parameters used for doing the analysis</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="CalibrationInformation" type="CalibrationInformationType">
        <xs:annotation>
          <xs:documentation>calibration equations</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attribute name="UUID" type="xs:string">
      <xs:annotation>
        <xs:documentation>Unique identifier for this measurement</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="StationInformationType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="StationCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>It should be part of an enumerate containing all station codes (gazeteer)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>It should be part of an enumerate containing all country codes (gazeteer)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Coordinates" type="Coordinates">
        <xs:annotation>
          <xs:documentation>Geographical coordinates (latitude, longitude, optional elevation)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="enumStationStatusType">
        <xs:annotation>
          <xs:documentation>Active or NonActive</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="EndTime" type="xs:dateTime" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DetectorInformationType">
    <xs:annotation>
      <xs:documentation>To Be Defined</xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="MeasuredInformationType">
    <xs:annotation>
      <xs:documentation>Sampled information sent by the station</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Spectrum" type="SpectrumType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpectrumType">
    <xs:annotation>
      <xs:documentation>Sampled information sent by the station</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="StartTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Measurement start date/time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RealTime" type="xs:duration">
        <xs:annotation>
          <xs:documentation>Duration of each sample measurement/interval at which samples are taken</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="LiveTime" type="xs:duration">
        <xs:annotation>
          <xs:documentation>Effective duration (i.e., live time) of each sample measurement</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="SourceType" type="enumSourceType">
        <xs:annotation>
          <xs:documentation>Source kind: background, Sample, ...</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="DataType" type="ChannelDataType">
        <xs:annotation>
          <xs:documentation>the data, spectrum</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="calibrationIDs" type="stringListType">
      <xs:annotation>
        <xs:documentation>Unique identifier for this measurement</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="AnalysisResultsType">
    <xs:annotation>
      <xs:documentation>Categorisation, Activity Summary, ... </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SampleCategorization" type="SampleCategorizationType">
        <xs:annotation>
          <xs:documentation>Categorisation of the sample</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ActivitySummary" type="ActivitySummaryType">
        <xs:annotation>
          <xs:documentation>Summary of the sample activity</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="PeakResults" type="PeakResultsType">
        <xs:annotation>
          <xs:documentation>peaks information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:group name="ProcParam_Genie_RRR_v1.0">
    <xs:annotation>
      <xs:documentation> Different Groups qualifiying the Processing Parameters  Group Names are Software_Method_Version   Particulate Old </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Threshold" type="xs:positiveInteger" />
      <xs:element name="PeakStart" type="xs:positiveInteger" />
      <xs:element name="PeakEnd" type="xs:positiveInteger" />
      <xs:element name="LeftFWHMLimit" type="xs:positiveInteger" />
      <xs:element name="RightFWHMLimit" type="xs:positiveInteger" />
      <xs:element name="MutlipletFWHMLimit" type="xs:positiveInteger" />
      <xs:element name="FitSinglet" type="xs:boolean" />
      <xs:element name="CriticalLevelTest" type="xs:boolean" />
      <xs:element name="EstimatePeakWidths" type="xs:boolean" />
      <xs:element name="BaselineType" type="xs:string" />
      <xs:element name="BaselineChannels" type="xs:positiveInteger" />
      <xs:element name="PerformSubstraction" type="xs:boolean" />
      <xs:element name="EnergyTolerance" type="xs:double" />
      <xs:element name="ConfidenceThreshold" type="xs:double" />
    </xs:sequence>
  </xs:group>
  <xs:group name="ProcParam_Genie_None_v1.0">
    <xs:annotation>
      <xs:documentation> For old software and spalax, extracted from GARDS_SAMPLE_PROC_PARAMS </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BackgroundDataType" type="xs:string" />
      <xs:element name="EnergyTolerance" type="xs:double" />
      <xs:element name="MDAConfidence" type="xs:double" />
      <xs:element name="NIDConfidence" type="xs:double" />
      <xs:element name="SampleQuantityUncertainty" type="xs:double" />
      <xs:element name="PeakSearchSensitivty" type="xs:positiveInteger" />
      <xs:element name="PeakSearchStart" type="xs:positiveInteger" />
      <xs:element name="PeakSearchEnd" type="xs:positiveInteger" />
      <xs:element name="LeftFWHMLimit" type="xs:positiveInteger" />
      <xs:element name="RightFWHMLimit" type="xs:positiveInteger" />
      <xs:element name="MutlipletFWHMLimit" type="xs:positiveInteger" />
      <xs:element name="BaselineChannels" type="xs:positiveInteger" />
      <xs:element name="BaselineType" type="xs:string" />
      <xs:element name="FitSinglet" type="xs:boolean" />
      <xs:element name="CriticalLevelTest" type="xs:boolean" />
      <xs:element name="AreaReject" type="xs:boolean" />
      <xs:element name="MDCWidth" type="xs:double" />
      <xs:element name="LCAbissa" type="xs:double" />
      <xs:element name="DoParentDaughterCalc" type="xs:boolean" />
      <xs:element name="DoCascadeSumming" type="xs:boolean" />
    </xs:sequence>
  </xs:group>
  <xs:group name="ProcParam_Autosaint_None_v1.0">
    <xs:sequence>
      <xs:element name="toBeCompleted" type="xs:string" />
    </xs:sequence>
  </xs:group>
  <xs:group name="ProcParam_BGAnalyse_SSM_v1.0">
    <xs:sequence>
      <xs:element name="UseDetectorBackground" type="xs:boolean" />
      <xs:element name="UseGasBackground" type="xs:boolean" />
      <xs:element name="LCAbissa" type="xs:double" />
      <xs:element name="BinningGammaOffset" type="xs:positiveInteger" />
      <xs:element name="BinningBetaOffset" type="xs:positiveInteger" />
      <xs:element name="BinningMinimumCounts" type="xs:positiveInteger" />
      <xs:element name="BinningNbMergedRows" type="xs:positiveInteger" />
      <xs:element name="BinningVectorSize" type="xs:positiveInteger" />
    </xs:sequence>
  </xs:group>
  <xs:group name="ProcParam_BGAnalyse_NCC_v1.0">
    <xs:sequence>
      <xs:element name="UseDetectorBackground" type="xs:boolean" />
      <xs:element name="UseGasBackground" type="xs:boolean" />
      <xs:element name="LCAbissa" type="xs:double" />
      <xs:element name="BinningGammaOffset" type="xs:positiveInteger" />
      <xs:element name="BinningBetaOffset" type="xs:positiveInteger" />
      <xs:element name="BinningMinimumCounts" type="xs:positiveInteger" />
      <xs:element name="BinningNbMergedRows" type="xs:positiveInteger" />
      <xs:element name="BinningVectorSize" type="xs:positiveInteger" />
    </xs:sequence>
  </xs:group>
  <xs:group name="UpdateParam_Genie_RRR_v1.0">
    <xs:annotation>
      <xs:documentation> For old software and spalax, extracted from GARDS_SAMPLE_PROC_PARAMS </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UseMRP" type="xs:boolean" />
      <xs:element minOccurs="0" name="MRPSampleID" type="xs:positiveInteger" />
      <xs:element name="MDAConfidence" type="xs:double" />
      <xs:element name="GainShift" type="xs:double" />
      <xs:element name="ZeroShift" type="xs:double" />
      <xs:element name="AreaLimit" type="xs:positiveInteger" />
      <xs:element name="UseWeight" type="xs:boolean" />
      <xs:element name="UseMultiplet" type="xs:boolean" />
      <xs:element name="ForceLinear" type="xs:boolean" />
      <xs:element name="IgnorePreviousECR" type="xs:boolean" />
      <xs:element name="MinimumLibLookupTolerance" type="xs:double" />
      <xs:element name="RERIntercept" type="xs:double" />
      <xs:element name="RERSlope" type="xs:double" />
      <xs:element name="ECRSlope" type="xs:double" />
      <xs:element name="DoResolutionUpdate" type="xs:boolean" />
      <xs:element name="RERMRPUsed" type="xs:positiveInteger" />
    </xs:sequence>
  </xs:group>
  <xs:group name="UpdateParam_Autosaint_RRR_v1.0">
    <xs:annotation>
      <xs:documentation> For old software and spalax, extracted from GARDS_SAMPLE_PROC_PARAMS </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UseMRP" type="xs:boolean" />
      <xs:element minOccurs="0" name="MRPSampleID" type="xs:positiveInteger" />
      <xs:element name="MDAConfidence" type="xs:double" />
      <xs:element name="GainShift" type="xs:double" />
      <xs:element name="ZeroShift" type="xs:double" />
      <xs:element name="AreaLimit" type="xs:positiveInteger" />
      <xs:element name="UseWeight" type="xs:boolean" />
      <xs:element name="UseMultiplet" type="xs:boolean" />
      <xs:element name="ForceLinear" type="xs:boolean" />
      <xs:element name="IgnorePreviousECR" type="xs:boolean" />
      <xs:element name="MinimumLibLookupTolerance" type="xs:double" />
      <xs:element name="RERIntercept" type="xs:double" />
      <xs:element name="RERSlope" type="xs:double" />
      <xs:element name="ECRSlope" type="xs:double" />
      <xs:element name="DoResolutionUpdate" type="xs:boolean" />
      <xs:element name="RERMRPUsed" type="xs:positiveInteger" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="ParametersType">
    <xs:annotation>
      <xs:documentation>Encompassing all the parametrisation used by the analysis</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ProcessingParameters" type="ProcessingParametersType">
        <xs:annotation>
          <xs:documentation>The processing parameters</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="UpdateParameters" type="UpdateParametersType">
        <xs:annotation>
          <xs:documentation>the update parameters</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="UpdateParametersType">
    <xs:annotation>
      <xs:documentation>Encompassing all the parametrisation used by the analysis</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:group ref="UpdateParam_Genie_RRR_v1.0" />
    </xs:choice>
    <xs:attribute name="software" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>the software used</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="method" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>the method used</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="version" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>the version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="ProcessingParametersType">
    <xs:annotation>
      <xs:documentation>Encompassing all the parametrisation used by the analysis</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:group ref="ProcParam_Genie_RRR_v1.0" />
      <xs:group ref="ProcParam_Genie_None_v1.0" />
      <xs:group ref="ProcParam_Autosaint_None_v1.0" />
      <xs:group ref="ProcParam_BGAnalyse_SSM_v1.0" />
      <xs:group ref="ProcParam_BGAnalyse_NCC_v1.0" />
    </xs:choice>
    <xs:attribute name="software" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>the software used</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="method" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>the method used</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="version" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>the version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="SampleCategorizationType">
    <xs:annotation>
      <xs:documentation>Categorisation, Activity Summary, ... </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SampleUUID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Category" type="enumCategoryType" />
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="ActivitySummaryType">
    <xs:annotation>
      <xs:documentation>To Be Defined</xs:documentation>
    </xs:annotation>
    <xs:sequence />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="PeakResultsType">
    <xs:annotation>
      <xs:documentation>List of Peaks Results</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="PeakResult" type="PeakResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PeakResultType">
    <xs:annotation>
      <xs:documentation>Peak detail</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Energy" type="doubleUnc">
        <xs:annotation>
          <xs:documentation>Pair of Energy and Energy uncertainty (00 uncertainty means not known)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Centroid" type="doubleUnc">
        <xs:annotation>
          <xs:documentation>Pair of Centroid and Centroid uncertainty (00 uncertainty means not known)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Area" type="doubleUnc">
        <xs:annotation>
          <xs:documentation>Pair of Area and Area uncertainty (00 uncertainty means not known)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Width" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Width</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="FWHM" type="doubleUnc">
        <xs:annotation>
          <xs:documentation>Pair of FWHM and FWHM uncertainty (00 uncertainty means not known)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="BackgroundCounts" type="doubleUnc">
        <xs:annotation>
          <xs:documentation>Pair of BckCounts and BckCounts uncertainty (00 uncertainty means not known)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Efficiency" type="doubleUnc">
        <xs:annotation>
          <xs:documentation>Pair of Efficiency and Efficiency uncertainty (00 uncertainty means not known)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="LC" type="xs:double">
        <xs:annotation>
          <xs:documentation>Critical Level</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="CalibrationInformationType">
    <xs:annotation>
      <xs:documentation>Calibration Equations</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Calibration" type="CalibrationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CalibrationType">
    <xs:annotation>
      <xs:documentation>Calibration data</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="Remark" />
      <xs:element minOccurs="0" name="CalibrationCreationDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Date/time of calibration's creation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CalibrationMeasurementUUID" type="xs:string">
        <xs:annotation>
          <xs:documentation>Unique identifier of the measurement(s) used to develop this calibration</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Equation" type="Equation">
        <xs:annotation>
          <xs:documentation>The equation governing this calibration</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ArrayXY" type="ArrayXY">
        <xs:annotation>
          <xs:documentation>Calibration data as ordinal pairs</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attribute name="Type" type="enumCalibrationType" use="required">
      <xs:annotation>
        <xs:documentation>Calibration type (e.g., Energy, FWHM, ...)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="EnergyUnits" type="enumEnergyUnits">
      <xs:annotation>
        <xs:documentation>Energy units</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="FWHMUnits" type="enumFWHMUnits">
      <xs:annotation>
        <xs:documentation>Detector resolution units</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ID" type="xs:ID" />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="Equation">
    <xs:annotation>
      <xs:documentation>Encapsulates an equation and its coefficients</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="Remark" />
      <xs:element maxOccurs="unbounded" name="Coefficients" type="Coefficients">
        <xs:annotation>
          <xs:documentation>The coefficients of the equation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CovarianceMatrix" type="doubleList">
        <xs:annotation>
          <xs:documentation>The covariance matrix for the equation coefficients</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attribute name="Model" type="enumEquationType" use="required">
      <xs:annotation>
        <xs:documentation>Type of equation (polynomial, etc.)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Form" type="xs:string">
      <xs:annotation>
        <xs:documentation>Description of the form of the equation</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="LowerLimit" type="xs:double">
      <xs:annotation>
        <xs:documentation>Lower bound of validity of the abscissa</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="UpperLimit" type="xs:double">
      <xs:annotation>
        <xs:documentation>Upper bound of validity of the abscissa</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="Coefficients">
    <xs:annotation>
      <xs:documentation>Equation coefficients</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="doubleList">
        <xs:attribute name="Subequation" type="xs:positiveInteger">
          <xs:annotation>
            <xs:documentation>Index of the subequation to which this set of coefficients applies</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayXY">
    <xs:annotation>
      <xs:documentation>Array of ordinal pairs</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="Remark" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="PointXY" type="PointXY">
        <xs:annotation>
          <xs:documentation>An (abcsissa, ordinate) pair</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attribute name="X" type="xs:string">
      <xs:annotation>
        <xs:documentation>Abscissa data description</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Y" type="xs:string">
      <xs:annotation>
        <xs:documentation>Ordinate data description</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="PointXY">
    <xs:annotation>
      <xs:documentation>An (abscissa, ordinate) pair</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="Remark" />
      <xs:element name="X" type="doubleUnc">
        <xs:annotation>
          <xs:documentation>Abscissa value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Y" type="doubleUnc">
        <xs:annotation>
          <xs:documentation>Ordinate value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="ChannelDataType">
    <xs:annotation>
      <xs:documentation>The spectrum: counts vs. channel for the entire spectrum or a region of interest</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="doubleList">
        <xs:attribute name="NbCounts" type="xs:positiveInteger" use="optional">
          <xs:annotation>
            <xs:documentation>The algorithm used to compress the channel data</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Compression" type="enumSpectrumCompressionType" use="optional">
          <xs:annotation>
            <xs:documentation>The algorithm used to compress the channel data</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Coordinates">
    <xs:annotation>
      <xs:documentation>Geographical coordinates (latitude, longitude, optional elevation)</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="coordinateList">
        <xs:attribute name="Datum" type="xs:positiveInteger">
          <xs:annotation>
            <xs:documentation>EPSG map datum reference identification number (see www.epsg.org)</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Time" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>Date/time of coordinates measurement</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="doubleUnc">
    <xs:annotation>
      <xs:documentation>Double value with uncertainty: first entry is value, second entry is uncertainty (absolute error, one standard deviation)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="doubleList">
      <xs:length value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumCategoryType">
    <xs:annotation>
      <xs:documentation>the category classification</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
      <xs:enumeration value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumSourceType">
    <xs:annotation>
      <xs:documentation>Measurement type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sample" />
      <xs:enumeration value="Background" />
      <xs:enumeration value="Calibration" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stringListType">
    <xs:annotation>
      <xs:documentation>List of strings</xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="coordinateList">
    <xs:annotation>
      <xs:documentation>Geographic coordinates: first two entries are latitude and longitude; third entry (optional) is elevation in meters relative to ellipsoid</xs:documentation>
    </xs:annotation>
    <xs:restriction base="decimalList">
      <xs:minLength value="2" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumStationStatusType">
    <xs:annotation>
      <xs:documentation>The algorithm (if any) by which the spectrum has been compressed</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active" />
      <xs:enumeration value="NonActive" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="decimalList">
    <xs:annotation>
      <xs:documentation>List of decimals</xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="doubleList">
    <xs:annotation>
      <xs:documentation>List of doubles</xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:double" />
  </xs:simpleType>
  <xs:simpleType name="durationList">
    <xs:annotation>
      <xs:documentation>List of durations</xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:duration" />
  </xs:simpleType>
  <xs:simpleType name="nonNegativeIntegerList">
    <xs:annotation>
      <xs:documentation>List of nonNegativeIntegers</xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:nonNegativeInteger" />
  </xs:simpleType>
  <xs:simpleType name="enumEnergyUnits">
    <xs:annotation>
      <xs:documentation>Energy units</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="eV" />
      <xs:enumeration value="keV" />
      <xs:enumeration value="MeV" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumActivityUnits">
    <xs:annotation>
      <xs:documentation>Activity units</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="mBq" />
      <xs:enumeration value="Bq" />
      <xs:enumeration value="kBq" />
      <xs:enumeration value="MBq" />
      <xs:enumeration value="nCi" />
      <xs:enumeration value="uCi" />
      <xs:enumeration value="mCi" />
      <xs:enumeration value="Ci" />
      <xs:enumeration value="kCi" />
      <xs:enumeration value="MCi" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumFWHMUnits">
    <xs:annotation>
      <xs:documentation>FWHM (Full Width at Half-Maximum) (i.e., resolution) units</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Energy" />
      <xs:enumeration value="Channels" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumSpeedUnits">
    <xs:annotation>
      <xs:documentation>Speed units</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="kph" />
      <xs:enumeration value="m/s" />
      <xs:enumeration value="mph" />
      <xs:enumeration value="fps" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumSampleType">
    <xs:annotation>
      <xs:documentation>Different kind of samples</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="particule" />
      <xs:enumeration value="gaz" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumDistanceUnits">
    <xs:annotation>
      <xs:documentation>Distance units</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="mm" />
      <xs:enumeration value="cm" />
      <xs:enumeration value="m" />
      <xs:enumeration value="km" />
      <xs:enumeration value="in" />
      <xs:enumeration value="ft" />
      <xs:enumeration value="mi" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumEquationType">
    <xs:annotation>
      <xs:documentation>Equation type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Polynomial" />
      <xs:enumeration value="Pade" />
      <xs:enumeration value="Exponential" />
      <xs:enumeration value="PolyLogarithmic" />
      <xs:enumeration value="FullRangeFraction" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumCalibrationType">
    <xs:annotation>
      <xs:documentation>Calibration type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Energy" />
      <xs:enumeration value="AbsoluteEfficiency" />
      <xs:enumeration value="IntrinsicFullEnergyPeakEfficiency" />
      <xs:enumeration value="IntrinsicTotalEfficiency" />
      <xs:enumeration value="FWHM" />
      <xs:enumeration value="CountsToDose" />
      <xs:enumeration value="CountsToAbsorbedDose" />
      <xs:enumeration value="CountsToExposure" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumSpectrumCompressionType">
    <xs:annotation>
      <xs:documentation>The algorithm (if any) by which the spectrum has been compressed</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="CountedZeroes" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>