RNpicker/etc/ext/oldSAMPML.xsd

<?xml version="1.0" encoding="utf-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" 
           attributeFormDefault="unqualified" 
           elementFormDefault="qualified" 
           targetNamespace="http://www.ctbto.org/SAMPML/0.5" 
           xmlns:sml="http://www.ctbto.org/SAMPML/0.5"
           id="sampml">
           
   
  
  
  <annotation>
    <documentation>
			SAMPML IDC Format for describing RN Sample information
			Version: 0.5
		</documentation>
  </annotation>
  <element name="SampML">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="1" name="Remark" type="string">
          <annotation>
            <documentation>
				Description (i.e comments) related to this sample
		    </documentation>
          </annotation>
        </element>
        <element minOccurs="1" maxOccurs="unbounded" name="SampleInformation" type="sml:sampleInformationType" />
      </sequence>
    </complexType>
  </element> 
  
  <complexType name="sampleInformationType">
    <annotation>
      <documentation>
		  Global sample information container
	  </documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="StationInformation" type="sml:stationInformationType">
        <annotation>
          <documentation>
						Time, location information for the sample
					   </documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DetectorInformation" type="sml:detectorInformationType">
        <annotation>
           <documentation>
				Information related to the detector used in the station
		   </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="SampleType" type="sml:enumSampleType">
        <annotation>
          <documentation>
					 </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="MeasuredInformation" type="sml:measuredInformationType">
        <annotation>
          <documentation>
						scientifically measured data
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="AnalysisResults" type="sml:analysisResultsType">
        <annotation>
          <documentation>
						Analysis data (identified nuclides)
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="Parameters" type="sml:parametersType">
        <annotation>
          <documentation>
						Processing, Updating parameters used for doing
						the analysis
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="Flags" type="sml:flagsType">
        <annotation>
          <documentation>
						The different flags used
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="CalibrationInformation" type="sml:calibrationInformationType">
        <annotation>
          <documentation>
						calibration equations
					</documentation>
        </annotation>
      </element>
      <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </sequence>
    <attribute name="UUID" type="string">
      <annotation>
        <documentation>
					Unique identifier for this measurement
				</documentation>
      </annotation>
    </attribute>
    <anyAttribute namespace="##other" processContents="lax" />
  </complexType>
  
  
  <complexType name="stationInformationType">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="StationLocation" type="string" />
      <element minOccurs="0" maxOccurs="1" name="StationCode"     type="string">
        <annotation>
            <documentation>
						It should be part of an enumerate containing all
						station codes (gazeteer)
		    </documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="CountryCode"     type="string">
        <annotation>
          <documentation>
						It should be part of an enumerate containing all
						country codes (gazeteer)
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="Coordinates" type="sml:coordinatesType">
        <annotation>
          <documentation>
						Geographical coordinates (latitude, longitude,
						elevation)
					</documentation>
        </annotation>
      </element>
      <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </sequence>
  </complexType>
  
  <complexType name="detectorInformationType">
    <annotation>
      <documentation> detector code and description </documentation>
    </annotation>
    <sequence>
      <element name="DetectorCode"        type="string" />
      <element name="DetectorDescription" type="string" />
    </sequence>
  </complexType>
  
  <complexType name="measuredInformationType">
    <annotation>
      <documentation>
				Sampled information sent by the station
			</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="2" name="Spectrum"  type="sml:spectrumType" />
      <element minOccurs="1" maxOccurs="2" name="Histogram" type="sml:histogramType" />
    </sequence>
  </complexType>
  
  <complexType name="spectrumType">
    <annotation>
      <documentation>
				Raw data information for a spectrum
			</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="Geometry" type="string">
        <annotation>
          <documentation>
				detector geometry (should be moved in detector)
		  </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="CollectionStart" type="dateTime">
        <annotation>
          <documentation>
						Measurement start date/time
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="CollectionStop" type="dateTime">
        <annotation>
          <documentation>
						Measurement stop date/time
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="AcquisitionStart" type="dateTime">
        <annotation>
          <documentation>
						Acquition start date/time
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="AcquisitionStop" type="dateTime">
        <annotation>
          <documentation>
						Acquition stop date/time
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="RealAcquisitionTime" type="duration">
        <annotation>
          <documentation>
						Duration of each sample measurement/interval at
						which samples are taken. The Real Acquisition time is the time
						when the detector is really active
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="LiveAcquisitionTime" type="duration">
        <annotation>
          <documentation>
						Duration of each sample measurement/interval at
						which samples are taken. Total time when the AcqStop - AcqStart
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="SamplingTime" type="duration">
        <annotation>
          <documentation>
						Effective duration (i.e., live time) of each
						sample measurement
		  </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="DecayTime" type="duration">
        <annotation>
          <documentation>
						Effective duration (i.e., live time) of each
						sample measurement
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="SpectrumType" type="sml:enumSpectrumType">
        <annotation>
           <documentation>
				FULL or PREL
		   </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="Data" type="sml:rawDataType">
        <annotation>
          <documentation>
						the data, spectrum
					</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="id" type="string">
      <annotation>
        <documentation>
					Unique identifier for the spectrum
				</documentation>
      </annotation>
    </attribute>
    <attribute name="calibrationIDs" type="sml:stringListType">
      <annotation>
        <documentation>
					Unique identifier(s) for this measurement
				</documentation>
      </annotation>
    </attribute>
    <!--<anyAttribute namespace="##other" processContents="lax" /> -->
  </complexType>
  
  <complexType name="histogramType">
    <annotation>
      <documentation>
				Raw data information for an histogram
			</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="Geometry" type="string">
        <annotation>
          <documentation>
				detector geometry (should be moved in detector)
		  </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="CollectionStart" type="dateTime">
        <annotation>
          <documentation>
						Measurement start date/time
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="CollectionStop" type="dateTime">
        <annotation>
          <documentation>
						Measurement stop date/time
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="AcquisitionStart" type="dateTime">
        <annotation>
          <documentation>
						Acquition start date/time
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="AcquisitionStop" type="dateTime">
        <annotation>
          <documentation>
						Acquition stop date/time
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="RealAcquisitionTime" type="duration">
        <annotation>
          <documentation>
						Duration of each sample measurement/interval at
						which samples are taken. The Real Acquisition time is the time
						when the detector is really active
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="LiveAcquisitionTime" type="duration">
        <annotation>
          <documentation>
						Duration of each sample measurement/interval at
						which samples are taken. Total time when the AcqStop - AcqStart
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="SamplingTime" type="duration">
        <annotation>
          <documentation>
						Effective duration (i.e., live time) of each
						sample measurement
		  </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="DecayTime" type="duration">
        <annotation>
          <documentation>
						Effective duration (i.e., live time) of each
						sample measurement
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="SpectrumType" type="sml:enumSpectrumType">
        <annotation>
           <documentation>
				FULL or PREL
		   </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="Data" type="sml:rawDataType">
        <annotation>
          <documentation>
						the data, spectrum
					</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="id" type="string">
      <annotation>
        <documentation>
					Unique identifier for the spectrum
				</documentation>
      </annotation>
    </attribute>
    <attribute name="calibrationIDs" type="sml:stringListType">
      <annotation>
        <documentation>
					Unique identifier(s) for this measurement
				</documentation>
      </annotation>
    </attribute>
    <!--<anyAttribute namespace="##other" processContents="lax" /> -->
  </complexType>
  
  
  
  <group name="particulateAnalysisResultsType">
    <sequence>
      <annotation>
        <documentation>
					Analysis Results for particulates
				</documentation>
      </annotation>
      <element minOccurs="1" maxOccurs="1" name="SampleCategorization" type="sampleCategorizationType">
        <annotation>
          <documentation>
						Categorization of the sample
					</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="ActivityConcentrationSummary" type="activityConcentrationSummaryType" />
      <element minOccurs="1" maxOccurs="1" name="PeakResults" type="peakResultsType" >
       <annotation>
          <documentation>
						peaks information
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="0" name="SCACLines"   type="scacLinesType">
       <annotation>
          <documentation>
			SCAC lines information, only for autoSAINT results.
		  </documentation>
        </annotation>
      </element>
       
    </sequence>
  </group>
  
  <complexType name="scacLinesType">                                            <!-- added for autoSaint -->
    <sequence>
      <element minOccurs="0" maxOccurs="0" name="Data"   type="channelDataType"/>
    </sequence>
    <anyAttribute namespace="##other" processContents="lax" />
  </complexType>
  
  
  <complexType name="analysisResultsType">
    <annotation>
      <documentation>
				Categorization, Activity Summary, ...
			</documentation>
    </annotation>
    <choice>
      <group ref="sml:particulateAnalysisResultsType" />
      <group ref="sml:nobleGasAnalysisResultsType" />
    </choice>
    <anyAttribute namespace="##other" processContents="lax" />
  </complexType>
  <group name="nobleGasAnalysisResultsType">
    <sequence>
      <annotation>
        <documentation>
					Analysis results for noble gas
				</documentation>
      </annotation>
      <element minOccurs="1" maxOccurs="1" name="ActivityConcentrationSummary" type="activityConcentrationSummaryType" />
      <element minOccurs="1" maxOccurs="1" name="ActivitySummary">
        <annotation>
          <documentation>Sample activity decay corrected</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="Nuclide" type="nuclideType" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="1" maxOccurs="1" name="ROINetCountResults" type="ROINetCountResultsType" />
      <element minOccurs="1" maxOccurs="1" name="XeCovarianceMatrix" type="XeCovarianceMatrixType" />
    </sequence>
  </group>
  <complexType name="XeCovarianceMatrixType">
    <annotation>
      <documentation>
				Intermediate results, ROI Net Count results
			</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="GoodnessOfFit"  type="double" />
      <element minOccurs="1" maxOccurs="1" name="Rows"           type="stringListType" />
      <element minOccurs="1" maxOccurs="1" name="Cols"           type="stringListType" />
      <element minOccurs="1" maxOccurs="unbounded" name="Values" type="doubleListType" />
    </sequence>
    <attribute name="method" type="string" />
    <anyAttribute namespace="##other" processContents="lax" />
  </complexType>
  <complexType name="ROIBoundariesType">
    <annotation>
      <documentation>
				Intermediate results, ROI Net Count results
			</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="unbounded" name="ROIBoundary">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="Nb" type="positiveInteger" />
            <element minOccurs="1" maxOccurs="1" name="GammaLow" type="physicalValueType" />
            <element minOccurs="1" maxOccurs="1" name="GammaHigh" type="physicalValueType" />
            <element minOccurs="1" maxOccurs="1" name="BetaLow" type="physicalValueType" />
            <element minOccurs="1" maxOccurs="1" name="BetaHigh" type="physicalValueType" />
          </sequence>
          <anyAttribute namespace="##other" processContents="lax" />
        </complexType>
      </element>
    </sequence>
    <attribute name="method" type="string" />
    <anyAttribute namespace="##other" processContents="lax" />
  </complexType>
  <complexType name="ROINetCountResultsType">
    <annotation>
      <documentation>
				Intermediate results, ROI Net Count results
			</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="unbounded" name="ROI">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="Nb" type="positiveInteger" />
            <element minOccurs="1" maxOccurs="1" name="Nuclide" type="string" />
            <element minOccurs="1" maxOccurs="1" name="NetCounts" type="integer" />
            <element minOccurs="1" maxOccurs="1" name="NetCountsError" type="physicalValueType" />
            <element minOccurs="1" maxOccurs="1" name="LC" type="physicalValueType" />
            <element minOccurs="1" maxOccurs="1" name="Efficiency" type="physicalValueType" />
          </sequence>
          <anyAttribute namespace="##other" processContents="lax" />
        </complexType>
      </element>
      <element minOccurs="0" maxOccurs="unbounded" name="ROIUsedFor">
        <annotation>
          <documentation>
						Describe which ROI have been used for identifying a
						nuclide
					</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="ROIs" type="nonNegativeIntegerList" />
          </sequence>
          <attribute name="nuclide" type="string" />
          <anyAttribute namespace="##other" processContents="lax" />
        </complexType>
      </element>
    </sequence>
    <attribute name="method" type="string" />
    <anyAttribute namespace="##other" processContents="lax" />
  </complexType>
  <complexType name="activityConcentrationSummaryType">
    <annotation>
      <documentation>
				Summary of the sample activity
			</documentation>
    </annotation>
    <sequence>
      <annotation>
        <documentation>
					Activity Concentration results for particulates and noble gas
				</documentation>
      </annotation>
      <element minOccurs="0" maxOccurs="1" name="NonQuantifiedNuclides">
        <annotation>
          <documentation>
						Non quantified identified nuclides
					</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="Nuclide" type="nuclideType" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="1" maxOccurs="1" name="QuantifiedNuclides">
        <annotation>
          <documentation>
						Quantified identified nuclides
					</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="Nuclide" type="nuclideType" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="1" maxOccurs="1" name="MinimumDetectableConcentration">
        <annotation>
          <documentation>
						Categorization of the sample
					</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="Nuclide" type="nuclideType" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="nuclideType">
    <sequence>
      <annotation>
        <documentation>
					Nuclide Type. Contains all the activity information
					regarding a specific nuclide
				</documentation>
      </annotation>
      <element minOccurs="1" maxOccurs="1" name="Name" type="string">
        <annotation>
          <documentation>Nuclide Name</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="Type" type="enumNuclideType">
        <annotation>
          <documentation>
						Natural, Activation, Fission
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="HalfLife" type="duration">
        <annotation>
          <documentation>
						Half-life as a string
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="Concentration" type="physicalValueType">
        <annotation>
          <documentation>Concentration</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="ConcentrationError" type="physicalValueType">
        <annotation>
          <documentation>
						Concentration error
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MinMDA" type="physicalValueType">
        <annotation>
          <documentation>Min MDA</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MDA" type="physicalValueType">
        <annotation>
          <documentation>MDA</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MaxMDA" type="physicalValueType">
        <annotation>
          <documentation>Max MDA</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="Activity" type="physicalValueType">
        <annotation>
          <documentation>Activity in Bq</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="ActivityError" type="physicalValueType">
        <annotation>
          <documentation>
						Activity error in Bq
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="ActivityCriticalLimit" type="physicalValueType">
        <annotation>
          <documentation>
						Activity critical limit in Bq
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="NIDFlag" type="integer">
        <annotation>
          <documentation>NID-Flag</documentation>
        </annotation>
      </element>
    </sequence>
    <anyAttribute namespace="##other" processContents="lax" />
  </complexType>
  <group name="procParam_Genie_RRR_v1.0Type">
    <annotation>
      <documentation>
				Different groups qualifiying the processing parameters
				Group Names are Software_Method_Version Particulate Old
			</documentation>
    </annotation>
    <sequence>
      <element name="Threshold" type="positiveInteger" />
      <element name="PeakStart" type="physicalValueType" />
      <element name="PeakEnd" type="physicalValueType" />
      <element name="LeftFWHMLimit" type="positiveInteger" />
      <element name="RightFWHMLimit" type="positiveInteger" />
      <element name="MutlipletFWHMLimit" type="positiveInteger" />
      <element name="FitSinglet" type="boolean" />
      <element name="CriticalLevelTest" type="boolean" />
      <element name="EstimatePeakWidths" type="boolean" />
      <element name="BaselineType" type="string" />
      <element name="BaselineChannels" type="positiveInteger" />
      <element name="PerformSubstraction" type="boolean" />
      <element name="EnergyTolerance" type="double" />
      <element name="ConfidenceThreshold" type="double" />
      <element name="RiskLevel" type="physicalValueType" />
    </sequence>
  </group>
  <group name="procParam_Autosaint_None_v1.0Type">
    <sequence>
      <element name="toBeCompleted" type="string" />
    </sequence>
  </group>
  <group name="procParam_BGAnalyze_SSM_v1.0Type">
    <sequence>
      <element name="UseDetectorBackground" type="boolean" />
      <element name="UseGasBackground" type="boolean" />
      <element name="LCAbissa" type="double" />
      <element name="BinningGammaOffset" type="positiveInteger" />
      <element name="BinningBetaOffset" type="positiveInteger" />
      <element name="BinningMinimumCounts" type="positiveInteger" />
      <element name="BinningNbMergedRows" type="positiveInteger" />
      <element name="BinningVectorSize" type="positiveInteger" />
    </sequence>
  </group>
  <group name="procParam_BGAnalyze_NCC_v1.0Type">             <!--  (bg_analyze?)-->
    <sequence>
       <element minOccurs="1" maxOccurs="1" name="ROIBoundaries"      type="ROIBoundariesType" />
    </sequence>
  </group>
  <group name="updateParam_Genie_RRR_v1.0Type">
    <annotation>
      <documentation>
				For old software and SPALAX, extracted from
				GARDS_SAMPLE_PROC_PARAMS
			</documentation>
    </annotation>
    <sequence>
      <element name="UseMRP" type="boolean" />
      <element minOccurs="0" name="MRPSampleID" type="positiveInteger" />
      <!--  it is optional for the moment -->
      <element name="MDAConfidence" type="double" minOccurs="0"/>
      <element name="GainShift" type="physicalValueType" />
      <element name="ZeroShift" type="double" />
      <element name="AreaLimit" type="positiveInteger" />
      <element name="UseWeight" type="boolean" />
      <element name="UseMultiplet" type="boolean" />
      <element name="ForceLinear" type="boolean" />
      <element name="IgnorePreviousECR" type="boolean" />
      <element name="MinimumLibLookupTolerance" type="double" />
      <element name="RERIntercept" type="double" />
      <element name="RERSlope" type="double" />
      <element name="ECRSlope" type="double" />
      <element name="DoResolutionUpdate" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="RERMRPUsed" type="positiveInteger" />
    </sequence>
  </group>
  <group name="updateParam_Autosaint_RRR_v1.0Type">
    <annotation>
      <documentation>
				To be changed. For the moment it is the same.
			</documentation>
    </annotation>
    <sequence>
      <element name="ToBeDefined" type="boolean" />
    </sequence>
  </group>
  
  <complexType name="flagsType">
    <annotation>
      <documentation>
				Encompassing all the parameters used by the analysis
			</documentation>
    </annotation>
    <choice>
      <group ref="sml:flags_Genie_RRR_v1.0Type" />
      <group ref="sml:flags_BGAnalyze_RRR_v1.0Type" />
    </choice>
    <anyAttribute namespace="##other" processContents="lax" />
  </complexType>
  <group name="flags_BGAnalyze_RRR_v1.0Type">
    <sequence>
      <annotation>
        <documentation>
					Flags used in processing done by bg_analyze SAUNA
				</documentation>
      </annotation>
      <element minOccurs="1" maxOccurs="1" name="DataQualityFlags">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="SamplingTime" type="dataQualityType" />
            <element minOccurs="1" maxOccurs="1" name="ProcessingTime" type="dataQualityType" />
            <element minOccurs="1" maxOccurs="1" name="AcquisitionTime" type="dataQualityType" />
            <element minOccurs="1" maxOccurs="1" name="StableXenonVolume" type="dataQualityType" />
            <element minOccurs="1" maxOccurs="1" name="MDCXE-133" type="dataQualityType" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <group name="flags_Genie_RRR_v1.0Type">
    <sequence>
      <annotation>
        <documentation>
					Flags used in processing done by Genie
				</documentation>
      </annotation>
      <element minOccurs="1" maxOccurs="1" name="TimelinessAndAvailabilityFlags">
        <annotation>
          <documentation>
						Timeliness and availibility flags
					</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="PreviousSamplePresent" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="CollectionTimeWithin24Hrs" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="AcquisitionTimeGTE20Hrs" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="DecayTimeLTE24Hrs" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="SampleReceived72HrsFromCollectStart" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="1" maxOccurs="1" name="DataQualityFlags">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="Ba140MDC" type="dataQualityType" />
            <element minOccurs="1" maxOccurs="1" name="K40LocationDifference" type="dataQualityType" />
            <element minOccurs="1" maxOccurs="1" name="NormalizedGainDifference" type="dataQualityType" />
            <element minOccurs="1" maxOccurs="1" name="Be7FWHM" type="dataQualityType" />
            <element minOccurs="1" maxOccurs="1" name="FlowRate" type="dataQualityType" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="1" maxOccurs="1" name="EventScreeningFlags">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="ActivationProductsPresent" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="NbOfDaysSinceLastActivationProduct" type="double" />
            <element minOccurs="1" maxOccurs="1" name="OnlyOneFissionProductPresent" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="TwoOrMoreFissionProductsPresent" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="CS-137Present" type="boolean" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </group>
  <complexType name="dataQualityType">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="Value" type="physicalValueType" />
      <element minOccurs="1" maxOccurs="1" name="Pass" type="boolean" />
      <element minOccurs="1" maxOccurs="1" name="Test" type="string">
        <annotation>
          <documentation>
						Information on the test performed
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="parametersType">
    <annotation>
      <documentation>
				Encompassing all the parameters used by the analysis
			</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="ProcessingParameters" type="processingParametersType">
        <annotation>
          <documentation>
						The processing parameters
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="UpdateParameters" type="updateParametersType">
        <annotation>
          <documentation>
						The update parameters non existent for noble gaz
					</documentation>
        </annotation>
      </element>
    </sequence>
    <anyAttribute namespace="##other" processContents="lax" />
  </complexType>
  <complexType name="updateParametersType">
    <annotation>
      <documentation>
				Encompassing all the parameters used by the analysis
			</documentation>
    </annotation>
    <choice>
      <group ref="sml:updateParam_Genie_RRR_v1.0Type" />
      <group ref="sml:updateParam_Autosaint_RRR_v1.0Type" />
    </choice>
    <attribute name="software" type="string" use="required">
      <annotation>
        <documentation>The software used</documentation>
      </annotation>
    </attribute>
    <attribute name="method" type="string" use="required">
      <annotation>
        <documentation>The method used</documentation>
      </annotation>
    </attribute>
    <attribute name="version" type="string" use="required">
      <annotation>
        <documentation>The version</documentation>
      </annotation>
    </attribute>
    <anyAttribute namespace="##other" processContents="lax" />
  </complexType>
  <complexType name="processingParametersType">
    <annotation>
      <documentation>
				Encompassing all the parameters used by the analysis
			</documentation>
    </annotation>
    <choice>
      <group ref="sml:procParam_Genie_RRR_v1.0Type" />
      <group ref="sml:procParam_Autosaint_None_v1.0Type" />
      <group ref="sml:procParam_BGAnalyze_SSM_v1.0Type" />
      <group ref="sml:procParam_BGAnalyze_NCC_v1.0Type" />
    </choice>
    <attribute name="software" type="string" use="required">
      <annotation>
        <documentation>The software used</documentation>
      </annotation>
    </attribute>
    <attribute name="method" type="string" use="required">
      <annotation>
        <documentation>The method used</documentation>
      </annotation>
    </attribute>
    <attribute name="version" type="string" use="required">
      <annotation>
        <documentation>The version</documentation>
      </annotation>
    </attribute>
    <anyAttribute namespace="##other" processContents="lax" />
  </complexType>
  <complexType name="sampleCategorizationType">
    <annotation>
      <documentation>
				Categorization, Activity Summary, ...
			</documentation>
    </annotation>
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="CategorizationInfo">
         <annotation>
            <documentation>
				Categorization, Activity Summary, ...
			</documentation>
         </annotation>
         <sequence>
            <element minOccurs="1" maxOccurs="1" name="Category"           type="sml:enumCategoryType" />
            <element minOccurs="1" maxOccurs="1" name="Nuclide"             type="string" />
            <element minOccurs="0" maxOccurs="1" name="CategoryComment"     type="string" />
         </sequence>
      </element>
    </sequence>
    <anyAttribute namespace="##other" processContents="lax" />
  </complexType>
  <complexType name="peakResultsType">
    <annotation>
      <documentation>List of Peaks Results</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="unbounded" name="PeakResult">
        <complexType>
          <annotation>
            <documentation>Peak detail</documentation>
          </annotation>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="Energy" type="doubleUnc">
              <annotation>
                <documentation>
									Pair of energy and energy
									uncertainty (00 uncertainty means
									not known)
								</documentation>
              </annotation>
            </element>
            <element minOccurs="1" maxOccurs="1" name="Centroid" type="doubleUnc">
              <annotation>
                <documentation>
									Pair of centroid and centroid
									uncertainty (00 uncertainty means
									not known)
								</documentation>
              </annotation>
            </element>
            <element minOccurs="1" maxOccurs="1" name="Area" type="doubleUnc">
              <annotation>
                <documentation>
									Pair of area and area uncertainty
									(00 uncertainty means not known)
								</documentation>
              </annotation>
            </element>
            <element minOccurs="1" maxOccurs="1" name="Width" type="integer">
              <annotation>
                <documentation>
									Width
								</documentation>
              </annotation>
            </element>
            <element minOccurs="1" maxOccurs="1" name="FWHM" type="doubleUnc">
              <annotation>
                <documentation>
									Pair of FWHM and FWHM uncertainty
									(00 uncertainty means not known)
								</documentation>
              </annotation>
            </element>
            <element minOccurs="1" maxOccurs="1" name="BackgroundCounts" type="doubleUnc">
              <annotation>
                <documentation>
									Pair of background counts and background counts 
									uncertainty (00 uncertainty means
									not known)
								</documentation>
              </annotation>
            </element>
            <element minOccurs="1" maxOccurs="1" name="Efficiency" type="doubleUnc">
              <annotation>
                <documentation>
									Pair of efficiency and efficiency
									uncertainty (00 uncertainty means
									not known)
								</documentation>
              </annotation>
            </element>
            <element minOccurs="1" maxOccurs="1" name="LC" type="double">
              <annotation>
                <documentation>
									Critical level
								</documentation>
              </annotation>
            </element>
            <element minOccurs="1" maxOccurs="1" name="LD" type="double">
              <annotation>
                <documentation>
									Detectable level
			     </documentation>
              </annotation>
            </element>
            <element minOccurs="1" maxOccurs="1" name="Detectibility" type="double">
              <annotation>
                <documentation>
						Detectibility is the same as peak significance but with the a new method
			     </documentation>
              </annotation>
            </element>
            <element minOccurs="1" maxOccurs="unbounded" name="IdentifiedNuclide" type="identifiedNuclideType">
              <annotation>
                <documentation>
						The identified nuclides
			     </documentation>
              </annotation>
            </element>
          </sequence>
          <anyAttribute namespace="##other" processContents="lax" />
        </complexType>
      </element>
    </sequence>
  </complexType>
  
  
  <complexType name="calibrationInformationType">
    <annotation>
      <documentation>Calibration equations</documentation>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="unbounded" name="Calibration" type="calibrationType" />
    </sequence>
  </complexType>
  <complexType name="calibrationType">
    <annotation>
      <documentation>Calibration data</documentation>
    </annotation>
    <sequence>
      <element minOccurs="0" name="Remark" type="string" />
      <element minOccurs="0" name="CalibrationCreationDate" type="dateTime">
        <annotation>
          <documentation>
						Date/time at which the calibration was created (question: what does "created" mean ??)
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="unbounded" name="CalibrationMeasurementUUID" type="string">
        <annotation>
          <documentation>
						Unique identifier of the measurement(s) used to
						develop this calibrations
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="unbounded" name="Equation" type="equationType">
        <annotation>
          <documentation>
						The equation governing this calibration
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="ArrayXY" type="arrayXYType">
        <annotation>
          <documentation>
						Calibration data as ordinal pairs
					</documentation>
        </annotation>
      </element>
      <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </sequence>
    <attribute name="Type" type="sml:enumCalibrationType" use="required">
      <annotation>
        <documentation>
					Calibration type (e.g., energy, FWHM, ...)
				</documentation>
      </annotation>
    </attribute>
    <attribute name="EnergyUnits" type="sml:enumEnergyUnits">
      <annotation>
        <documentation>Energy units</documentation>
      </annotation>
    </attribute>
    <attribute name="FWHMUnits" type="sml:enumFWHMUnits">
      <annotation>
        <documentation>
					Detector resolution units
				</documentation>
      </annotation>
    </attribute>
    <attribute name="ID" type="ID" />
    <anyAttribute namespace="##other" processContents="lax" />
  </complexType>
  <complexType name="equationType">
    <annotation>
      <documentation>
				Encapsulates an equation and its coefficients
			</documentation>
    </annotation>
    <sequence>
      <element minOccurs="0" name="Remark" type="string" />
      <element maxOccurs="unbounded" name="Coefficients" type="sml:coefficientsType">
        <annotation>
          <documentation>
						The coefficients of the equation
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="CovarianceMatrix" type="sml:doubleListType">
        <annotation>
          <documentation>
						The covariance matrix for the equation
						coefficients
					</documentation>
        </annotation>
      </element>
      <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </sequence>
    <attribute name="Model" type="sml:enumEquationType" use="required">
      <annotation>
        <documentation>
					Type of equation (polynomial, etc.)
				</documentation>
      </annotation>
    </attribute>
    <attribute name="Form" type="string">
      <annotation>
        <documentation>
					Description of the form of the equation
				</documentation>
      </annotation>
    </attribute>
    <attribute name="LowerLimit" type="double">
      <annotation>
        <documentation>
					Lower bound of validity of the abscissa
				</documentation>
      </annotation>
    </attribute>
    <attribute name="UpperLimit" type="double">
      <annotation>
        <documentation>
					Upper bound of validity of the abscissa
				</documentation>
      </annotation>
    </attribute>
    <anyAttribute namespace="##other" processContents="lax" />
  </complexType>
  <complexType name="coefficientsType">
    <annotation>
      <documentation>Equation coefficients</documentation>
    </annotation>
    <simpleContent>
      <extension base="doubleListType">
        <attribute name="Subequation" type="positiveInteger">
          <annotation>
            <documentation>
							Index of the subequation to which this set
							of coefficients applies
						</documentation>
          </annotation>
        </attribute>
        <anyAttribute namespace="##other" processContents="lax" />
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="arrayXYType">
    <annotation>
      <documentation>Array of ordinal pairs</documentation>
    </annotation>
    <sequence>
      <element minOccurs="0" name="Remark" type="string" />
      <element minOccurs="1" maxOccurs="unbounded" name="PointXY" type="pointXYType">
        <annotation>
          <documentation>
						An (abcsissa, ordinate) pair
					</documentation>
        </annotation>
      </element>
      <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </sequence>
    <attribute name="X" type="string">
      <annotation>
        <documentation>
					Abscissa data description
				</documentation>
      </annotation>
    </attribute>
    <attribute name="Y" type="string">
      <annotation>
        <documentation>
					Ordinate data description
				</documentation>
      </annotation>
    </attribute>
    <anyAttribute namespace="##other" processContents="lax" />
  </complexType>
  <complexType name="pointXYType">
    <annotation>
      <documentation>
				An (abscissa, ordinate) pair
			</documentation>
    </annotation>
    <sequence>
      <element minOccurs="0" name="Remark" type="string" />
      <element name="X" type="doubleUnc">
        <annotation>
          <documentation>Abscissa value</documentation>
        </annotation>
      </element>
      <element name="Y" type="doubleUnc">
        <annotation>
          <documentation>Ordinate value</documentation>
        </annotation>
      </element>
      <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </sequence>
    <anyAttribute namespace="##other" processContents="lax" />
  </complexType>
  
  
  <complexType name="rawDataType">
    <annotation>
      <documentation>
				This regroup histogram, an spectra structures for the moment
			</documentation>
    </annotation>
    <simpleContent>
      <extension base="doubleListType">
        <attribute name="gammaChannelSpan" type="positiveInteger" use="optional">
          <annotation>
            <documentation>
						Numbers of gamma channels
						</documentation>
          </annotation>
        </attribute>
        <attribute name="betaChannelSpan" type="positiveInteger" use="optional">
          <annotation>
            <documentation>
						Numbers of beta channels
						</documentation>
          </annotation>
        </attribute>
        <attribute name="betaEnergySpan" type="positiveInteger" use="optional">
          <annotation>
            <documentation>
						Energy span for beta rays
						</documentation>
          </annotation>
        </attribute>
        <attribute name="gammaEnergySpan" type="positiveInteger" use="optional">
          <annotation>
            <documentation>
						Energy span for gamma rays
						</documentation>
          </annotation>
        </attribute>
         <attribute name="format" type="string" use="optional">
          <annotation>
            <documentation>
				In case a particular format is used to encode the data
			</documentation>
          </annotation>
        </attribute>
        <attribute name="compression" type="enumSpectrumCompressionType" use="optional">
          <annotation>
            <documentation>
							The algorithm used to compress the channel
							data
						</documentation>
          </annotation>
        </attribute>
        <anyAttribute namespace="##other" processContents="lax" />
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="physicalValueType">
    <annotation>
      <documentation>
				Describe a physical quantity with a unit (any type for
				the moment)
			</documentation>
    </annotation>
    <simpleContent>
      <extension base="string">
        <attribute name="unit" type="anySimpleType" use="optional" />
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="coordinatesType">
    <annotation>
      <documentation>
				Geographical coordinates (latitude, longitude, elevation)
			</documentation>
    </annotation>
    <simpleContent>
      <extension base="coordinateList">
        <attribute name="Datum" type="positiveInteger">
          <annotation>
            <documentation>
							EPSG map datum reference identification
							number (see www.epsg.org)
						</documentation>
          </annotation>
        </attribute>
        <attribute name="Time" type="dateTime">
          <annotation>
            <documentation>
							Date/time of coordinates measurement
						</documentation>
          </annotation>
        </attribute>
        <anyAttribute namespace="##other" processContents="lax" />
      </extension>
    </simpleContent>
  </complexType>
  <simpleType name="doubleUnc">
    <annotation>
      <documentation>
				Double value with uncertainty: first entry is value,
				second entry is uncertainty (absolute error, one
				standard deviation)
			</documentation>
    </annotation>
    <restriction base="doubleListType">
      <length value="2" />
    </restriction>
  </simpleType>
  <simpleType name="enumCategoryType">
    <annotation>
      <documentation>
				The category classification
			</documentation>
    </annotation>
    <restriction base="positiveInteger">
      <enumeration value="1" />
      <enumeration value="2" />
      <enumeration value="3" />
      <enumeration value="4" />
      <enumeration value="5" />
    </restriction>
  </simpleType>
  
  <simpleType name="enumSpectrumType">
    <annotation>
      <documentation>Spectrum type (FULL,PREL)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="FULL" />
      <enumeration value="PREL" />
      <enumeration value="Other" />
    </restriction>
  </simpleType>
  <simpleType name="enumSourceType">
    <annotation>
      <documentation>Measurement type</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Sample" />
      <enumeration value="Background" />
      <enumeration value="GammaSpectrum" />
      <enumeration value="BetaSpectrum" />
      <enumeration value="Calibration" />
      <enumeration value="Other" />
    </restriction>
  </simpleType>
  <simpleType name="stringListType">
    <annotation>
      <documentation>List of strings</documentation>
    </annotation>
    <list itemType="string" />
  </simpleType>
  <simpleType name="coordinateList">
    <annotation>
      <documentation>
				Geographic coordinates: first two entries are latitude
				and longitude; third entry is elevation in
				meters relative to the specified ellipsoid.
			</documentation>
    </annotation>
    <restriction base="decimalList">
      <minLength value="2" />
      <maxLength value="3" />
    </restriction>
  </simpleType>
  <simpleType name="enumStationStatusType">
    <annotation>
      <documentation>
				The algorithm (if any) by which the spectrum has been
				compressed
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Active" />
      <enumeration value="NonActive" />
    </restriction>
  </simpleType>
  <simpleType name="decimalList">
    <annotation>
      <documentation>List of decimals</documentation>
    </annotation>
    <list itemType="decimal" />
  </simpleType>
  <simpleType name="doubleListType">
    <annotation>
      <documentation>List of doubles</documentation>
    </annotation>
    <list itemType="double" />
  </simpleType>
  <simpleType name="durationList">
    <annotation>
      <documentation>List of durations</documentation>
    </annotation>
    <list itemType="duration" />
  </simpleType>
  <simpleType name="nonNegativeIntegerList">
    <annotation>
      <documentation>
				List of nonNegativeIntegers
			</documentation>
    </annotation>
    <list itemType="nonNegativeInteger" />
  </simpleType>
  <simpleType name="enumEnergyUnits">
    <annotation>
      <documentation>Energy units</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="eV" />
      <enumeration value="keV" />
      <enumeration value="MeV" />
    </restriction>
  </simpleType>
  <simpleType name="enumActivityUnits">
    <annotation>
      <documentation>Activity units</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="mBq" />
      <enumeration value="Bq" />
      <enumeration value="kBq" />
      <enumeration value="MBq" />
      <enumeration value="nCi" />
      <enumeration value="uCi" />
      <enumeration value="mCi" />
      <enumeration value="Ci" />
      <enumeration value="kCi" />
      <enumeration value="MCi" />
    </restriction>
  </simpleType>
  <simpleType name="enumFWHMUnits">
    <annotation>
      <documentation>
				FWHM (Full Width at Half-Maximum) (i.e., resolution)
				units
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Energy" />
      <enumeration value="Channels" />
    </restriction>
  </simpleType>
  <simpleType name="enumSpeedUnits">
    <annotation>
      <documentation>Speed units</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="kph" />
      <enumeration value="m/s" />
      <enumeration value="mph" />
      <enumeration value="fps" />
    </restriction>
  </simpleType>
  <simpleType     name="enumSampleType">
    <annotation>
      <documentation>
				Different kind of samples
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="PARTICULATE" />
      <enumeration value="SAUNA" />
      <enumeration value="SPALAX" />
    </restriction>
  </simpleType>
  <simpleType name="enumDistanceUnits">
    <annotation>
      <documentation>Distance units</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="mm" />
      <enumeration value="cm" />
      <enumeration value="m" />
      <enumeration value="km" />
      <enumeration value="in" />
      <enumeration value="ft" />
      <enumeration value="mi" />
    </restriction>
  </simpleType>
  <simpleType name="enumEquationType">
    <annotation>
      <documentation>Equation type</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Polynomial" />
      <enumeration value="Pade" />
      <enumeration value="Exponential" />
      <enumeration value="PolyLogarithmic" />
      <enumeration value="FullRangeFraction" />
      <enumeration value="Other" />
    </restriction>
  </simpleType>
  <simpleType name="enumNuclideType">
    <annotation>
      <documentation>Nuclide type</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Natural" />
      <enumeration value="Activation" />
      <enumeration value="Fission" />
      <enumeration value="Other" />
    </restriction>
  </simpleType>
  <simpleType name="enumCalibrationType">
    <annotation>
      <documentation>Calibration type</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Energy" />
      <enumeration value="AbsoluteEfficiency" />
      <enumeration value="EnergyToChannels" />
      <enumeration value="BetaEnergyToChannels" />
      <enumeration value="GammaEnergyToChannels" />
      <enumeration value="ResolutionToEnergy" />
      <enumeration value="EfficiencyToEnergy" />
      <enumeration value="Other" />
    </restriction>
  </simpleType>
  <simpleType name="enumSpectrumCompressionType">
    <annotation>
      <documentation>
				The algorithm (if any) by which the spectrum has been
				compressed
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="None" />
      <enumeration value="CountedZeroes" />
    </restriction>
  </simpleType>
  <complexType name="identifiedNuclideType">
    <annotation>
      <documentation>Nuclide identified for a particular peak</documentation>
    </annotation>
    <simpleContent>
      <extension base="string">
        <attribute name="percentage" type="double">
          <annotation>
            <documentation>
							Identified nuclide for a particular peak. The percentage is the percentage of this nuclide present in the peak.
			</documentation>
          </annotation>
        </attribute>
        <anyAttribute namespace="##other" processContents="lax" />
      </extension>
    </simpleContent>
  </complexType>
</schema>
