RNpicker/etc/ext/SAMPML.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns="http://www.ctbto.org/SAMPML/0.5" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ctbto.org/SAMPML/0.5" id="sampml" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
			SAMPML IDC Format for describing RN Sample information
			Version: 0.5
		</xs:documentation>
  </xs:annotation>
  <xs:element name="SampML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string">
          <xs:annotation>
            <xs:documentation>
				Description (i.e comments) related to this sample
		    </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="SampleInformation" type="sampleInformationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element> 
  <xs:complexType name="sampleInformationType">
    <xs:annotation>
      <xs:documentation>
				   All informations related to one sample
			     </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="StationInformation" type="stationInformationType">
        <xs:annotation>
          <xs:documentation>
						Time, location information for the sample
					   </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DetectorInformation" type="detectorInformationType">
        <xs:annotation>
          <xs:documentation>
						Information related to the detector used in the
						station (geometry, ?)
					   </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="SampleType" type="enumSampleType">
        <xs:annotation>
          <xs:documentation>
					 </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SampleGeometry" type="xs:string">
        <xs:annotation>
          <xs:documentation>
						Only for particulate
					 </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="SampleQuantity" type="physicalValueType" />
      <xs:element minOccurs="1" maxOccurs="1" name="MeasuredInformation" type="measuredInformationType">
        <xs:annotation>
          <xs:documentation>
						scientifically measured data
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="AnalysisResults" type="analysisResultsType">
        <xs:annotation>
          <xs:documentation>
						Analysis data (identified nuclides)
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Parameters" type="parametersType">
        <xs:annotation>
          <xs:documentation>
						Processing, Updating parameters used for doing
						the analysis
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Flags" type="flagsType">
        <xs:annotation>
          <xs:documentation>
						The different flags used
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="CalibrationInformation" type="calibrationInformationType">
        <xs:annotation>
          <xs:documentation>
						calibration equations
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attribute name="UUID" type="xs:string">
      <xs:annotation>
        <xs:documentation>
					Unique identifier for this measurement
				</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="stationInformationType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="StationLocation" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="StationCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>
						It should be part of an enumerate containing all
						station codes (gazeteer)
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>
						It should be part of an enumerate containing all
						country codes (gazeteer)
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Coordinates" type="coordinatesType">
        <xs:annotation>
          <xs:documentation>
						Geographical coordinates (latitude, longitude,
						elevation)
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="EndTime" type="xs:dateTime" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detectorInformationType">
    <xs:annotation>
      <xs:documentation>To Be Defined</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DetectorCode" type="xs:string" />
      <xs:element name="DetectorDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="measuredInformationType">
    <xs:annotation>
      <xs:documentation>
				Sampled information sent by the station
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Spectrum" type="spectrumType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="spectrumType">
    <xs:annotation>
      <xs:documentation>
				Sampled information sent by the station
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CollectionStart" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>
						Measurement start date/time
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="CollectionStop" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>
						Measurement stop date/time
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="AcquisitionStart" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>
						Acquition start date/time
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="AcquisitionStop" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>
						Acquition stop date/time
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RealAcquisitionTime" type="xs:duration">
        <xs:annotation>
          <xs:documentation>
						Duration of each sample measurement/interval at
						which samples are taken. The Real Acquisition time is the time
						when the detector is really active
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="LiveAcquisitionTime" type="xs:duration">
        <xs:annotation>
          <xs:documentation>
						Duration of each sample measurement/interval at
						which samples are taken. Total time when the AcqStop - AcqStart
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="SamplingTime" type="xs:duration">
        <xs:annotation>
          <xs:documentation>
						Effective duration (i.e., live time) of each
						sample measurement
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="DecayTime" type="xs:duration">
        <xs:annotation>
          <xs:documentation>
						Effective duration (i.e., live time) of each
						sample measurement
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="SourceType" type="enumSourceType">
        <xs:annotation>
          <xs:documentation>
						Source kind: background, Sample, ...
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Data" type="channelDataType">
        <xs:annotation>
          <xs:documentation>
						the data, spectrum
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="calibrationIDs" type="stringListType">
      <xs:annotation>
        <xs:documentation>
					Unique identifier(s) for this measurement
				</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:group name="particulateAnalysisResultsType">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>
					Analysis Results for particulates
				</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="1" maxOccurs="1" name="SampleCategorization" type="sampleCategorizationType">
        <xs:annotation>
          <xs:documentation>
						Categorization of the sample
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ActivityConcentrationSummary" type="activityConcentrationSummaryType" />
      <xs:element minOccurs="1" maxOccurs="1" name="PeakResults" type="peakResultsType" >
       <xs:annotation>
          <xs:documentation>
						peaks information
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="0" name="SCACLines"   type="scacLinesType">
       <xs:annotation>
          <xs:documentation>
			SCAC lines information, only for autoSAINT results.
		  </xs:documentation>
        </xs:annotation>
      </xs:element>
       
    </xs:sequence>
  </xs:group>
  
  <xs:complexType name="scacLinesType">                                            <!-- added for autoSaint -->
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="0" name="Data"   type="channelDataType"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  
  
  <xs:complexType name="analysisResultsType">
    <xs:annotation>
      <xs:documentation>
				Categorization, Activity Summary, ...
			</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:group ref="particulateAnalysisResultsType" />
      <xs:group ref="nobleGasAnalysisResultsType" />
    </xs:choice>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:group name="nobleGasAnalysisResultsType">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>
					Analysis results for noble gas
				</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="1" maxOccurs="1" name="ActivityConcentrationSummary" type="activityConcentrationSummaryType" />
      <xs:element minOccurs="1" maxOccurs="1" name="ActivitySummary">
        <xs:annotation>
          <xs:documentation>Sample activity decay corrected</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Nuclide" type="nuclideType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ROINetCountResults" type="ROINetCountResultsType" />
      <xs:element minOccurs="1" maxOccurs="1" name="XeCovarianceMatrix" type="XeCovarianceMatrixType" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="XeCovarianceMatrixType">
    <xs:annotation>
      <xs:documentation>
				Intermediate results, ROI Net Count results
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="GoodnessOfFit"  type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="Rows"           type="stringListType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cols"           type="stringListType" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Values" type="doubleListType" />
    </xs:sequence>
    <xs:attribute name="method" type="xs:string" />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="ROIBoundariesType">
    <xs:annotation>
      <xs:documentation>
				Intermediate results, ROI Net Count results
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="ROIBoundary">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Nb" type="xs:positiveInteger" />
            <xs:element minOccurs="1" maxOccurs="1" name="GammaLow" type="physicalValueType" />
            <xs:element minOccurs="1" maxOccurs="1" name="GammaHigh" type="physicalValueType" />
            <xs:element minOccurs="1" maxOccurs="1" name="BetaLow" type="physicalValueType" />
            <xs:element minOccurs="1" maxOccurs="1" name="BetaHigh" type="physicalValueType" />
          </xs:sequence>
          <xs:anyAttribute namespace="##other" processContents="lax" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="method" type="xs:string" />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="ROINetCountResultsType">
    <xs:annotation>
      <xs:documentation>
				Intermediate results, ROI Net Count results
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="ROI">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Nb" type="xs:positiveInteger" />
            <xs:element minOccurs="1" maxOccurs="1" name="Nuclide" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="NetCounts" type="xs:integer" />
            <xs:element minOccurs="1" maxOccurs="1" name="NetCountsError" type="physicalValueType" />
            <xs:element minOccurs="1" maxOccurs="1" name="LC" type="physicalValueType" />
            <xs:element minOccurs="1" maxOccurs="1" name="Efficiency" type="physicalValueType" />
          </xs:sequence>
          <xs:anyAttribute namespace="##other" processContents="lax" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ROIUsedFor">
        <xs:annotation>
          <xs:documentation>
						Describe which ROI have been used for identifying a
						nuclide
					</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ROIs" type="nonNegativeIntegerList" />
          </xs:sequence>
          <xs:attribute name="nuclide" type="xs:string" />
          <xs:anyAttribute namespace="##other" processContents="lax" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="method" type="xs:string" />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="activityConcentrationSummaryType">
    <xs:annotation>
      <xs:documentation>
				Summary of the sample activity
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>
					Activity Concentration results for particulates and noble gas
				</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="0" maxOccurs="1" name="NonQuantifiedNuclides">
        <xs:annotation>
          <xs:documentation>
						Non quantified identified nuclides
					</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Nuclide" type="nuclideType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="QuantifiedNuclides">
        <xs:annotation>
          <xs:documentation>
						Quantified identified nuclides
					</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Nuclide" type="nuclideType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MinimumDetectableConcentration">
        <xs:annotation>
          <xs:documentation>
						Categorization of the sample
					</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Nuclide" type="nuclideType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nuclideType">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>
					Nuclide Type. Contains all the activity information
					regarding a specific nuclide
				</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nuclide Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="enumNuclideType">
        <xs:annotation>
          <xs:documentation>
						Natural, Activation, Fission
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="HalfLife" type="xs:duration">
        <xs:annotation>
          <xs:documentation>
						Half-life as a string
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Concentration" type="physicalValueType">
        <xs:annotation>
          <xs:documentation>Concentration</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ConcentrationError" type="physicalValueType">
        <xs:annotation>
          <xs:documentation>
						Concentration error
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MinMDA" type="physicalValueType">
        <xs:annotation>
          <xs:documentation>Min MDA</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MDA" type="physicalValueType">
        <xs:annotation>
          <xs:documentation>MDA</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MaxMDA" type="physicalValueType">
        <xs:annotation>
          <xs:documentation>Max MDA</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Activity" type="physicalValueType">
        <xs:annotation>
          <xs:documentation>Activity in Bq</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ActivityError" type="physicalValueType">
        <xs:annotation>
          <xs:documentation>
						Activity error in Bq
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ActivityCriticalLimit" type="physicalValueType">
        <xs:annotation>
          <xs:documentation>
						Activity critical limit in Bq
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="NIDFlag" type="xs:integer">
        <xs:annotation>
          <xs:documentation>NID-Flag</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:group name="procParam_Genie_RRR_v1.0Type">
    <xs:annotation>
      <xs:documentation>
				Different groups qualifiying the processing parameters
				Group Names are Software_Method_Version Particulate Old
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Threshold" type="xs:positiveInteger" />
      <xs:element name="PeakStart" type="physicalValueType" />
      <xs:element name="PeakEnd" type="physicalValueType" />
      <xs:element name="LeftFWHMLimit" type="xs:positiveInteger" />
      <xs:element name="RightFWHMLimit" type="xs:positiveInteger" />
      <xs:element name="MutlipletFWHMLimit" type="xs:positiveInteger" />
      <xs:element name="FitSinglet" type="xs:boolean" />
      <xs:element name="CriticalLevelTest" type="xs:boolean" />
      <xs:element name="EstimatePeakWidths" type="xs:boolean" />
      <xs:element name="BaselineType" type="xs:string" />
      <xs:element name="BaselineChannels" type="xs:positiveInteger" />
      <xs:element name="PerformSubstraction" type="xs:boolean" />
      <xs:element name="EnergyTolerance" type="xs:double" />
      <xs:element name="ConfidenceThreshold" type="xs:double" />
      <xs:element name="RiskLevel" type="physicalValueType" />
    </xs:sequence>
  </xs:group>
  <xs:group name="procParam_Autosaint_None_v1.0Type">
    <xs:sequence>
      <xs:element name="toBeCompleted" type="xs:string" />
    </xs:sequence>
  </xs:group>
  <xs:group name="procParam_BGAnalyze_SSM_v1.0Type">
    <xs:sequence>
      <xs:element name="UseDetectorBackground" type="xs:boolean" />
      <xs:element name="UseGasBackground" type="xs:boolean" />
      <xs:element name="LCAbissa" type="xs:double" />
      <xs:element name="BinningGammaOffset" type="xs:positiveInteger" />
      <xs:element name="BinningBetaOffset" type="xs:positiveInteger" />
      <xs:element name="BinningMinimumCounts" type="xs:positiveInteger" />
      <xs:element name="BinningNbMergedRows" type="xs:positiveInteger" />
      <xs:element name="BinningVectorSize" type="xs:positiveInteger" />
    </xs:sequence>
  </xs:group>
  <xs:group name="procParam_BGAnalyze_NCC_v1.0Type">             <!--  (bg_analyze?)-->
    <xs:sequence>
       <xs:element minOccurs="1" maxOccurs="1" name="ROIBoundaries"      type="ROIBoundariesType" />
    </xs:sequence>
  </xs:group>
  <xs:group name="updateParam_Genie_RRR_v1.0Type">
    <xs:annotation>
      <xs:documentation>
				For old software and SPALAX, extracted from
				GARDS_SAMPLE_PROC_PARAMS
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UseMRP" type="xs:boolean" />
      <xs:element minOccurs="0" name="MRPSampleID" type="xs:positiveInteger" />
      <!--  it is optional for the moment -->
      <xs:element name="MDAConfidence" type="xs:double" minOccurs="0"/>
      <xs:element name="GainShift" type="physicalValueType" />
      <xs:element name="ZeroShift" type="xs:double" />
      <xs:element name="AreaLimit" type="xs:positiveInteger" />
      <xs:element name="UseWeight" type="xs:boolean" />
      <xs:element name="UseMultiplet" type="xs:boolean" />
      <xs:element name="ForceLinear" type="xs:boolean" />
      <xs:element name="IgnorePreviousECR" type="xs:boolean" />
      <xs:element name="MinimumLibLookupTolerance" type="xs:double" />
      <xs:element name="RERIntercept" type="xs:double" />
      <xs:element name="RERSlope" type="xs:double" />
      <xs:element name="ECRSlope" type="xs:double" />
      <xs:element name="DoResolutionUpdate" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="RERMRPUsed" type="xs:positiveInteger" />
    </xs:sequence>
  </xs:group>
  <xs:group name="updateParam_Autosaint_RRR_v1.0Type">
    <xs:annotation>
      <xs:documentation>
				To be changed. For the moment it is the same.
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ToBeDefined" type="xs:boolean" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="flagsType">
    <xs:annotation>
      <xs:documentation>
				Encompassing all the parameters used by the analysis
			</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:group ref="flags_Genie_RRR_v1.0Type" />
      <xs:group ref="flags_BGAnalyze_RRR_v1.0Type" />
    </xs:choice>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:group name="flags_BGAnalyze_RRR_v1.0Type">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>
					Flags used in processing done by bg_analyze SAUNA
				</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="1" maxOccurs="1" name="DataQualityFlags">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="SamplingTime" type="dataQualityType" />
            <xs:element minOccurs="1" maxOccurs="1" name="ProcessingTime" type="dataQualityType" />
            <xs:element minOccurs="1" maxOccurs="1" name="AcquisitionTime" type="dataQualityType" />
            <xs:element minOccurs="1" maxOccurs="1" name="StableXenonVolume" type="dataQualityType" />
            <xs:element minOccurs="1" maxOccurs="1" name="MDCXE-133" type="dataQualityType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="flags_Genie_RRR_v1.0Type">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>
					Flags used in processing done by Genie
				</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="1" maxOccurs="1" name="TimelinessAndAvailabilityFlags">
        <xs:annotation>
          <xs:documentation>
						Timeliness and availibility flags
					</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="PreviousSamplePresent" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="CollectionTimeWithin24Hrs" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="AcquisitionTimeGTE20Hrs" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="DecayTimeLTE24Hrs" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="SampleReceived72HrsFromCollectStart" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="DataQualityFlags">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Ba140MDC" type="dataQualityType" />
            <xs:element minOccurs="1" maxOccurs="1" name="K40LocationDifference" type="dataQualityType" />
            <xs:element minOccurs="1" maxOccurs="1" name="NormalizedGainDifference" type="dataQualityType" />
            <xs:element minOccurs="1" maxOccurs="1" name="Be7FWHM" type="dataQualityType" />
            <xs:element minOccurs="1" maxOccurs="1" name="FlowRate" type="dataQualityType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="EventScreeningFlags">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="ActivationProductsPresent" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="NbOfDaysSinceLastActivationProduct" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="OnlyOneFissionProductPresent" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="TwoOrMoreFissionProductsPresent" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="CS-137Present" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="dataQualityType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Value" type="physicalValueType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Pass" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Test" type="xs:string">
        <xs:annotation>
          <xs:documentation>
						Information on the test performed
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parametersType">
    <xs:annotation>
      <xs:documentation>
				Encompassing all the parameters used by the analysis
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ProcessingParameters" type="processingParametersType">
        <xs:annotation>
          <xs:documentation>
						The processing parameters
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="UpdateParameters" type="updateParametersType">
        <xs:annotation>
          <xs:documentation>
						The update parameters non existent for noble gaz
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="updateParametersType">
    <xs:annotation>
      <xs:documentation>
				Encompassing all the parameters used by the analysis
			</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:group ref="updateParam_Genie_RRR_v1.0Type" />
      <xs:group ref="updateParam_Autosaint_RRR_v1.0Type" />
    </xs:choice>
    <xs:attribute name="software" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The software used</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="method" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The method used</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="version" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="processingParametersType">
    <xs:annotation>
      <xs:documentation>
				Encompassing all the parameters used by the analysis
			</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:group ref="procParam_Genie_RRR_v1.0Type" />
      <xs:group ref="procParam_Autosaint_None_v1.0Type" />
      <xs:group ref="procParam_BGAnalyze_SSM_v1.0Type" />
      <xs:group ref="procParam_BGAnalyze_NCC_v1.0Type" />
    </xs:choice>
    <xs:attribute name="software" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The software used</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="method" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The method used</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="version" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="sampleCategorizationType">
    <xs:annotation>
      <xs:documentation>
				Categorization, Activity Summary, ...
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategorizationInfo">
         <xs:annotation>
            <xs:documentation>
				Categorization, Activity Summary, ...
			</xs:documentation>
         </xs:annotation>
         <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Category"           type="enumCategoryType" />
            <xs:element minOccurs="1" maxOccurs="1" name="Nuclide"             type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="CategoryComment"     type="xs:string" />
         </xs:sequence>
      </xs:element>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="peakResultsType">
    <xs:annotation>
      <xs:documentation>List of Peaks Results</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="PeakResult">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>Peak detail</xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Energy" type="doubleUnc">
              <xs:annotation>
                <xs:documentation>
									Pair of energy and energy
									uncertainty (00 uncertainty means
									not known)
								</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="Centroid" type="doubleUnc">
              <xs:annotation>
                <xs:documentation>
									Pair of centroid and centroid
									uncertainty (00 uncertainty means
									not known)
								</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="Area" type="doubleUnc">
              <xs:annotation>
                <xs:documentation>
									Pair of area and area uncertainty
									(00 uncertainty means not known)
								</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="Width" type="xs:integer">
              <xs:annotation>
                <xs:documentation>
									Width
								</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="FWHM" type="doubleUnc">
              <xs:annotation>
                <xs:documentation>
									Pair of FWHM and FWHM uncertainty
									(00 uncertainty means not known)
								</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="BackgroundCounts" type="doubleUnc">
              <xs:annotation>
                <xs:documentation>
									Pair of background counts and background counts 
									uncertainty (00 uncertainty means
									not known)
								</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="Efficiency" type="doubleUnc">
              <xs:annotation>
                <xs:documentation>
									Pair of efficiency and efficiency
									uncertainty (00 uncertainty means
									not known)
								</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="LC" type="xs:double">
              <xs:annotation>
                <xs:documentation>
									Critical level
								</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="LD" type="xs:double">
              <xs:annotation>
                <xs:documentation>
									Detectable level
			     </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="Detectibility" type="xs:double">
              <xs:annotation>
                <xs:documentation>
						Detectibility is the same as peak significance but with the a new method
			     </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="IdentifiedNuclide" type="identifiedNuclideType">
              <xs:annotation>
                <xs:documentation>
						The identified nuclides
			     </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:anyAttribute namespace="##other" processContents="lax" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calibrationInformationType">
    <xs:annotation>
      <xs:documentation>Calibration equations</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Calibration" type="calibrationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calibrationType">
    <xs:annotation>
      <xs:documentation>Calibration data</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Remark" type="xs:string" />
      <xs:element minOccurs="0" name="CalibrationCreationDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>
						Date/time at which the calibration was created (question: what does "created" mean ??)
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CalibrationMeasurementUUID" type="xs:string">
        <xs:annotation>
          <xs:documentation>
						Unique identifier of the measurement(s) used to
						develop this calibrations
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Equation" type="equationType">
        <xs:annotation>
          <xs:documentation>
						The equation governing this calibration
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ArrayXY" type="arrayXYType">
        <xs:annotation>
          <xs:documentation>
						Calibration data as ordinal pairs
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attribute name="Type" type="enumCalibrationType" use="required">
      <xs:annotation>
        <xs:documentation>
					Calibration type (e.g., energy, FWHM, ...)
				</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="EnergyUnits" type="enumEnergyUnits">
      <xs:annotation>
        <xs:documentation>Energy units</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="FWHMUnits" type="enumFWHMUnits">
      <xs:annotation>
        <xs:documentation>
					Detector resolution units
				</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ID" type="xs:ID" />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="equationType">
    <xs:annotation>
      <xs:documentation>
				Encapsulates an equation and its coefficients
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Remark" type="xs:string" />
      <xs:element maxOccurs="unbounded" name="Coefficients" type="coefficientsType">
        <xs:annotation>
          <xs:documentation>
						The coefficients of the equation
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CovarianceMatrix" type="doubleListType">
        <xs:annotation>
          <xs:documentation>
						The covariance matrix for the equation
						coefficients
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attribute name="Model" type="enumEquationType" use="required">
      <xs:annotation>
        <xs:documentation>
					Type of equation (polynomial, etc.)
				</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Form" type="xs:string">
      <xs:annotation>
        <xs:documentation>
					Description of the form of the equation
				</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="LowerLimit" type="xs:double">
      <xs:annotation>
        <xs:documentation>
					Lower bound of validity of the abscissa
				</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="UpperLimit" type="xs:double">
      <xs:annotation>
        <xs:documentation>
					Upper bound of validity of the abscissa
				</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="coefficientsType">
    <xs:annotation>
      <xs:documentation>Equation coefficients</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="doubleListType">
        <xs:attribute name="Subequation" type="xs:positiveInteger">
          <xs:annotation>
            <xs:documentation>
							Index of the subequation to which this set
							of coefficients applies
						</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="arrayXYType">
    <xs:annotation>
      <xs:documentation>Array of ordinal pairs</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Remark" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="PointXY" type="pointXYType">
        <xs:annotation>
          <xs:documentation>
						An (abcsissa, ordinate) pair
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attribute name="X" type="xs:string">
      <xs:annotation>
        <xs:documentation>
					Abscissa data description
				</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Y" type="xs:string">
      <xs:annotation>
        <xs:documentation>
					Ordinate data description
				</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="pointXYType">
    <xs:annotation>
      <xs:documentation>
				An (abscissa, ordinate) pair
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Remark" type="xs:string" />
      <xs:element name="X" type="doubleUnc">
        <xs:annotation>
          <xs:documentation>Abscissa value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Y" type="doubleUnc">
        <xs:annotation>
          <xs:documentation>Ordinate value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="channelDataType">
    <xs:annotation>
      <xs:documentation>
				The spectrum: counts vs. channel for the entire spectrum
				or a region of interest
			</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="doubleListType">
        <xs:attribute name="gammaChannelSpan" type="xs:positiveInteger" use="optional">
          <xs:annotation>
            <xs:documentation>
						Numbers of gamma channels
						</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="betaChannelSpan" type="xs:positiveInteger" use="optional">
          <xs:annotation>
            <xs:documentation>
						Numbers of beta channels
						</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="betaEnergySpan" type="xs:positiveInteger" use="optional">
          <xs:annotation>
            <xs:documentation>
						Energy span for beta rays
						</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="gammaEnergySpan" type="xs:positiveInteger" use="optional">
          <xs:annotation>
            <xs:documentation>
						Energy span for gamma rays
						</xs:documentation>
          </xs:annotation>
        </xs:attribute>
         <xs:attribute name="format" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
				In case a particular format is used to encode the data
			</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Compression" type="enumSpectrumCompressionType" use="optional">
          <xs:annotation>
            <xs:documentation>
							The algorithm used to compress the channel
							data
						</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="physicalValueType">
    <xs:annotation>
      <xs:documentation>
				Describe a physical quantity with a unit (any type for
				the moment)
			</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="unit" type="xs:anySimpleType" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="coordinatesType">
    <xs:annotation>
      <xs:documentation>
				Geographical coordinates (latitude, longitude, elevation)
			</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="coordinateList">
        <xs:attribute name="Datum" type="xs:positiveInteger">
          <xs:annotation>
            <xs:documentation>
							EPSG map datum reference identification
							number (see www.epsg.org)
						</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Time" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>
							Date/time of coordinates measurement
						</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="doubleUnc">
    <xs:annotation>
      <xs:documentation>
				Double value with uncertainty: first entry is value,
				second entry is uncertainty (absolute error, one
				standard deviation)
			</xs:documentation>
    </xs:annotation>
    <xs:restriction base="doubleListType">
      <xs:length value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumCategoryType">
    <xs:annotation>
      <xs:documentation>
				The category classification
			</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
      <xs:enumeration value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumSourceType">
    <xs:annotation>
      <xs:documentation>Measurement type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sample" />
      <xs:enumeration value="Background" />
      <xs:enumeration value="GammaSpectrum" />
      <xs:enumeration value="BetaSpectrum" />
      <xs:enumeration value="Calibration" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stringListType">
    <xs:annotation>
      <xs:documentation>List of strings</xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="coordinateList">
    <xs:annotation>
      <xs:documentation>
				Geographic coordinates: first two entries are latitude
				and longitude; third entry is elevation in
				meters relative to the specified ellipsoid.
			</xs:documentation>
    </xs:annotation>
    <xs:restriction base="decimalList">
      <xs:minLength value="2" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumStationStatusType">
    <xs:annotation>
      <xs:documentation>
				The algorithm (if any) by which the spectrum has been
				compressed
			</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active" />
      <xs:enumeration value="NonActive" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="decimalList">
    <xs:annotation>
      <xs:documentation>List of decimals</xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="doubleListType">
    <xs:annotation>
      <xs:documentation>List of doubles</xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:double" />
  </xs:simpleType>
  <xs:simpleType name="durationList">
    <xs:annotation>
      <xs:documentation>List of durations</xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:duration" />
  </xs:simpleType>
  <xs:simpleType name="nonNegativeIntegerList">
    <xs:annotation>
      <xs:documentation>
				List of nonNegativeIntegers
			</xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:nonNegativeInteger" />
  </xs:simpleType>
  <xs:simpleType name="enumEnergyUnits">
    <xs:annotation>
      <xs:documentation>Energy units</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="eV" />
      <xs:enumeration value="keV" />
      <xs:enumeration value="MeV" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumActivityUnits">
    <xs:annotation>
      <xs:documentation>Activity units</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="mBq" />
      <xs:enumeration value="Bq" />
      <xs:enumeration value="kBq" />
      <xs:enumeration value="MBq" />
      <xs:enumeration value="nCi" />
      <xs:enumeration value="uCi" />
      <xs:enumeration value="mCi" />
      <xs:enumeration value="Ci" />
      <xs:enumeration value="kCi" />
      <xs:enumeration value="MCi" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumFWHMUnits">
    <xs:annotation>
      <xs:documentation>
				FWHM (Full Width at Half-Maximum) (i.e., resolution)
				units
			</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Energy" />
      <xs:enumeration value="Channels" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumSpeedUnits">
    <xs:annotation>
      <xs:documentation>Speed units</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="kph" />
      <xs:enumeration value="m/s" />
      <xs:enumeration value="mph" />
      <xs:enumeration value="fps" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumSampleType">
    <xs:annotation>
      <xs:documentation>
				Different kind of samples
			</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="particulate" />
      <xs:enumeration value="nobleGas" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumDistanceUnits">
    <xs:annotation>
      <xs:documentation>Distance units</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="mm" />
      <xs:enumeration value="cm" />
      <xs:enumeration value="m" />
      <xs:enumeration value="km" />
      <xs:enumeration value="in" />
      <xs:enumeration value="ft" />
      <xs:enumeration value="mi" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumEquationType">
    <xs:annotation>
      <xs:documentation>Equation type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Polynomial" />
      <xs:enumeration value="Pade" />
      <xs:enumeration value="Exponential" />
      <xs:enumeration value="PolyLogarithmic" />
      <xs:enumeration value="FullRangeFraction" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumNuclideType">
    <xs:annotation>
      <xs:documentation>Nuclide type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Natural" />
      <xs:enumeration value="Activation" />
      <xs:enumeration value="Fission" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumCalibrationType">
    <xs:annotation>
      <xs:documentation>Calibration type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Energy" />
      <xs:enumeration value="AbsoluteEfficiency" />
      <xs:enumeration value="EnergyToChannels" />
      <xs:enumeration value="BetaEnergyToChannels" />
      <xs:enumeration value="GammaEnergyToChannels" />
      <xs:enumeration value="ResolutionToEnergy" />
      <xs:enumeration value="EfficiencyToEnergy" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumSpectrumCompressionType">
    <xs:annotation>
      <xs:documentation>
				The algorithm (if any) by which the spectrum has been
				compressed
			</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="CountedZeroes" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="identifiedNuclideType">
    <xs:annotation>
      <xs:documentation>Nuclide identified for a particular peak</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="percentage" type="xs:double">
          <xs:annotation>
            <xs:documentation>
							Identified nuclide for a particular peak. The percentage is the percentage of this nuclide present in the peak.
			</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
